<template>
  <div class="container w-100 admin-dashboard">
    <fil-admin-top-bar></fil-admin-top-bar>
    <div class="row mt-3">
      <div class="col justify-content-center">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <total-sales></total-sales>
          </div>
          <div class="col-md-6 col-sm-12">
            <total-revenue></total-revenue>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <order-stats></order-stats>
          </div>
          <div class="col-md-6 col-sm-12">
            <user-stats></user-stats>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import FilAdminTopBar from '@/components/AdminTopBar';
  import TotalSalesWidget from '@/components/TotalSalesWidget';
  import TotalRevenueWidget from '@/components/TotalRevenueWidget';
  import UserStatsWidget from '@/components/UserStatsWidget';
  import OrderStatsWidget from '@/components/OrderStatsWidget';

  export default {
    name: 'fil-admin-users-page',
    components: {
      FilAdminTopBar,
      'total-sales': TotalSalesWidget,
      'total-revenue': TotalRevenueWidget,
      'user-stats': UserStatsWidget,
      'order-stats': OrderStatsWidget
    },
    mounted() {
      /* eslint-disable no-undef */
      document.title = 'Dashboard - FoodILike';
    },
    computed: {
      users() {
        return [...this.$store.getters.getUsers];
      }
    },
    methods: {
      filter(user) {
        if (this.filterText.length === 0) return true;

        const filterText = this.filterText.toLowerCase().trim();
        const firstName = user.first_name.toLowerCase();
        const lastName = user.last_name.toLowerCase();

        if (firstName.indexOf(filterText) !== -1 || lastName.indexOf(filterText) !== -1) return true;

        return false;
      }
    }
  };
</script>
<style>
  .admin-dashboard .center-headers th {
    text-align: center !important;
  }

  .admin-dashboard .btn-group > .btn.btn-md.btn-primary.active {
    background-color: #E46055 !important;
    border-color: #E46055 !important;
    box-shadow: 0 0 0 2px rgba(228, 96, 85, 0.5) !important;
  }

  .form-control {
    color: #666;
  }

  .admin-dashboard .form-control.red-outline:focus,
  .admin-dashboard .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .admin-dashboard .form-control.yellow-outline:focus,
  .admin-dashboard .custom-select.yellow-outline:focus {
    color: #666;
    border-color: #FFF074;
  }

  .admin-dashboard .active {
    background-color: #E46055 !important;
    border-color: #E46055 !important;
  }
</style>

