<template>
  <div class="container w-100 admin-tag-list">
    <fil-admin-top-bar></fil-admin-top-bar>
    <div class="row mt-3">
      <div class="col justify-content-center">
        <table-top
          @per_page_selection="setPerPage"
          @filter_text_input="setFilterText"
          @button_click="$root.$emit('show::modal','tagModal')"
          header-text="Tags"
          placeholder-text="Search by name"
          button-text="Add tag"
          per-page-label="Tags per page"></table-top>
        <b-table striped class="center-headers"
                 :items="tags" :fields="tableFields" :current-page="currentPage"
                 :per-page="perPage" :filter="filter">
          <template slot="name" scope="item">
            <span class="badge badge-default">{{ item.item.name }}</span>
          </template>
          <template slot="actions" scope="item">
            <b-btn size="sm" class="clickable" @click="openDialog(item.item)">Details</b-btn>
            <b-btn size="sm" class="clickable" @click="deleteTag(item.item.id)">Delete</b-btn>
          </template>
        </b-table>

        <div class="justify-content-center row">
          <b-pagination class="grp" size="md" :total-rows="tags.length" :per-page="perPage" v-model="currentPage" />
        </div>
      </div>
    </div>
    <b-modal
      id="tagModal"
      title="Add a tag"
      @ok="addTag"
      :ok-title="buttonLabel">

      <form @submit.stop.prevent="addTag">
        <b-form-input class="red-outline mb-1" type="text" placeholder="Name" v-model.trim="tag.name"></b-form-input>
        <b-form-input textarea class="red-outline mb-1" type="text" placeholder="Description" v-model.trim="tag.description"></b-form-input>
      </form>

    </b-modal>

  </div>
</template>

<script>
  import FilAdminTopBar from '@/components/AdminTopBar';
  import FilButton from '@/components/FilButton';
  import TableTop from '@/components/TableTop';

  const template = {
    id: '',
    name: '',
    description: ''
  };

  export default {
    name: 'fil-admin-tag-list',
    components: {
      FilAdminTopBar,
      FilButton,
      TableTop
    },
    data() {
      return {
        tableFields: {
          name: {
            label: 'Name',
            sortable: true
          },
          actions: {
            label: 'Actions'
          }
        },
        tag: { ...template },
        currentPage: 1,
        perPage: 50,
        filterText: ''
      };
    },
    mounted() {
      /* eslint-disable no-undef */
      document.title = 'Tags - FoodILike';
    },
    computed: {
      tags() {
        return [...this.$store.getters.getTags];
      },
      buttonLabel() {
        return this.tag.id === '' ? 'Add' : 'Update';
      }
    },
    watch: {
      /* eslint-disable object-shorthand */
      'tag.name'(val) {
        this.tag.name = this.$options.filters.titleCase(val); 
      }
    },
    methods: {
      clearTag() {
        this.tag = { ...template };
      },
      addTag() {
        this.$root.$emit('hide::modal', 'tagModal');
        if (this.tag.name.length) {
          this.$store.dispatch('saveTag', this.tag);
        }
        this.clearTag();
      },
      deleteTag(id) {
        this.$store.dispatch('deleteTag', id);
      },
      openDialog(tag) {
        this.tag = { ...tag };
        this.$root.$emit('show::modal', 'tagModal');
      },
      setPerPage({ value }) {
        this.perPage = value;
      },
      setFilterText({ value }) {
        this.filterText = value;
      },
      filter(tag) {
        if (this.filterText.length === 0) return true;

        const tagName = tag.name.toLowerCase();

        return tagName.indexOf(this.filterText.toLowerCase().trim()) !== -1;
      }
    }
  };
</script>
<style>
  .admin-tag-list .center-headers th {
    text-align: center !important;
  }

  .admin-tag-list .btn-group > .btn.btn-md.btn-primary.active {
    background-color: #E46055 !important;
    border-color: #E46055 !important;
    box-shadow: 0 0 0 2px rgba(228, 96, 85, 0.5) !important;
  }

  .admin-tag-list .form-control {
    color: #666;
  }

  .admin-tag-list .form-control.red-outline:focus,
  .admin-tag-list .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .admin-tag-list .form-control.yellow-outline:focus,
  .admin-tag-list .custom-select.yellow-outline:focus {
    color: #666;
    border-color: #FFF074;
  }

  .admin-tag-list .active {
    background-color: #E46055 !important;
    border-color: #E46055 !important;
  }

  .admin-tag-list .red-text, .user-account-page a {
    color: #E46055 !important;
  }

  .admin-tag-list  .modal-footer button {
    border-radius: 20px;
  }

  .admin-tag-list  .modal-footer .btn-primary {
    border-color: #E46055;
    background-color: #E46055;
    box-shadow: 0 0 0 2px rgba(228, 96, 85, 0.5);
  }
</style>

