<template>
  <div class="container admin-signin-page">
    <div class="middle">
      <div class="inner">
        <div class="row mt-1">
          <div class="col">
            <b-alert :variant="state" dismissible :show="showAlert" @dismissed="showAlert=false">
              {{ stateMsg }}
            </b-alert>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <img src="/static/logos/FoodILike-mark-red.svg" width="100" height="100" alt="">
          </div>
        </div>
        <form @submit.stop.prevent="signin">
          <div class="row">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
              <b-form-input class="red-outline" v-model="email" type="email" placeholder="Email"></b-form-input>
            </div>
            <div class="col"></div>
          </div>
          <div class="row mt-1">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
                <b-form-input class="red-outline" v-model="password" type="password" placeholder="Password"></b-form-input>
            </div>
            <div class="col"></div>
          </div>
          <div class="row mt-1">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
              <fil-button submit=true text="Sign in" colour="red"></fil-button>
            </div>
            <div class="col"></div>
          </div>
        </form>
        <account-links :signin="true" :forgot="true" :signup="false" :admin="true"></account-links>
      </div>
    </div>
  </div>
</template>

<script>
import FilButton from '@/components/FilButton';
import AccountLinks from '@/components/AccountLinks';
import { APP_CONSTANTS, setUpEnvironment } from '@/constants';

export default {
  name: 'fil-admin-signin-page',
  components: {
    FilButton,
    AccountLinks
  },
  data() {
    return {
      email: '',
      password: '',
      showAlert: false,
      state: 'danger',
      stateMsg: 'Wrong username or password'
    };
  },
  methods: {
    signin() {
      this.$store.dispatch('authenticate', { email: this.email, password: this.password })
      .then((res) => {
        if (res === APP_CONSTANTS.OK) {
          setUpEnvironment(this.$store);

          if (this.$route.query.to) {
            this.$router.replace(this.$route.query.to);
          } else {
            const role = this.$store.getters.getUser ? this.$store.getters.getUser.role : '';

            switch (role) {
              case 'admin':
                this.$router.push({ name: APP_CONSTANTS.ROUTES.ADMIN_HOME });
                break;
              default: // Sends users where they should be
                this.$router.push({ name: APP_CONSTANTS.ROUTES.MENU });
            }
          }
        } else {
          this.showAlert = true;
        }
      });
    }

  }
};
</script>
<!--red #E46055-->
<!--yellow #FFF074-->
<!--dark #666-->
<style scoped>
  .admin-signin-page.container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .admin-signin-page .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .admin-signin-page .inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .admin-signin-page .form-control {
    color: #666;
  }

  .admin-signin-page .form-control.red-outline:focus,
  .admin-signin-page .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }
</style>
