<template>
  <div class="container w-100 admin-order-list">
    <fil-admin-top-bar></fil-admin-top-bar>
    <div class="row mt-3">
      <div class="col justify-content-center">
        <table-top
          @per_page_selection="setPerPage"
          @filter_text_input="setFilterText"
          button-href="#"
          header-text="Orders"
          placeholder-text="Search by user or order id"
          button-text="<>"
          per-page-label="Orders per page"></table-top>

        <b-table 
          v-if="!isMobile"
          striped class="center-headers"
          :items="orders" :fields="tableFields" :current-page="currentPage"
          :per-page="perPage" :filter="filter">
          <template slot="transaction_id" scope="item">
            {{ item.item.transaction_id }}
          </template>
          <template slot="user_id" scope="item">
            {{ item.item.userName }}
          </template>
          <template slot="order_date" scope="item">
            {{ item.item.order_date | toTimeString }}
          </template>
          <template slot="delivery_date" scope="item">
            {{ item.item.deliveryTime }}
          </template>
          <template slot="status" scope="item">
            <span :class="badgeClasses(item.item)">
              {{ item.item.status }}
            </span>
          </template>
          <template slot="actions" scope="item">
            <b-btn class="clickable details-btn" size="sm" :to="item.item.href">Details</b-btn>
          </template>
        </b-table>

        <b-table 
          v-else
          striped class="center-headers"
          :items="orders" :fields="mobileTableFields" :current-page="currentPage"
          :per-page="perPage" :filter="filter">
          <template slot="transaction_id" scope="item">
            {{ item.item.transaction_id }}
          </template>
          <template slot="status" scope="item">
            <span :class="badgeClasses(item.item)">
              {{ item.item.status }}
            </span>
          </template>
          <template slot="actions" scope="item">
            <b-btn class="clickable details-btn" size="sm" :to="item.item.href">Details</b-btn>
          </template>
        </b-table>

        <div class="justify-content-center row">
          <b-pagination class="grp" size="md" :total-rows="orders.length" :per-page="perPage" v-model="currentPage" />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import { APP_CONSTANTS, isMobile } from '@/constants';
  import FilAdminTopBar from '@/components/AdminTopBar';
  import TableTop from '@/components/TableTop';
  import moment from 'moment-mini';

  export default {
    name: 'fil-admin-order-list',
    components: {
      FilAdminTopBar,
      TableTop
    },
    data() {
      return {
        tableFields: {
          transaction_id: {
            label: 'Order ID',
            sortable: true
          },
          user_id: {
            label: 'User',
            sortable: true
          },
          status: {
            label: 'Status'
          },
          order_date: {
            label: 'Order date',
            sortable: true
          },
          delivery_date: {
            label: 'Delivery ETA',
            sortable: true
          },
          actions: {
            label: 'Actions'
          }
        },
        mobileTableFields: {
          transaction_id: {
            label: 'Order ID',
            sortable: true
          },
          status: {
            label: 'Status'
          },
          actions: {
            label: 'Actions'
          }
        },
        currentPage: 1,
        perPage: 50,
        filterText: '',
        isMobile: false,
        orderStatus: APP_CONSTANTS.ORDER_STATUS
      };
    },
    mounted() {
      this.isMobile = isMobile();
      /* eslint-disable no-undef */
      document.title = 'Orders - FoodILike';
      // Remove strange classes from detail buttons
      document.querySelectorAll('.details-btn').forEach(b => b.classList.remove('active'));
    },
    computed: {
      orders() {
        // Return latest orders first
        return [...this.$store.getters.getOrders]
          .sort((o1, o2) => new Date(o2.order_date) - new Date(o1.order_date))
          .map(o => Object.assign(o, 
            { 
              href: this.$router.resolve({ name: APP_CONSTANTS.ROUTES.ADMIN_ORDER_SHOW, params: { id: o.id } }).href,
              userName: this.$options.filters.showName(o.user_id, 'user', this.$store),
              deliveryTime: o.status !== APP_CONSTANTS.ORDER_STATUS.DELIVERED ? 
                'Not yet delivered' : moment(o.delivery_date).from(moment())
            }));
      }
    },
    methods: {
      setPerPage({ value }) {
        this.perPage = value;
      },
      badgeClasses(order) {
        if (order.status === this.orderStatus.PENDING || order.status === this.orderStatus.TRANSIT) {
          return 'badge badge-info';
        }
        if (order.status === this.orderStatus.DELIVERED) {
          return 'badge badge-success';
        }
        if (order.status === this.orderStatus.CANCELLED) {
          return 'badge badge-warning';
        }
        return 'badge';
      },
      setFilterText({ value }) {
        this.filterText = value;
      },
      filter(order) {
        if (this.filterText.length === 0) return true;

        const trxId = order.transaction_id.toLowerCase();
        const filterText = this.filterText.toLowerCase().trim();
        return trxId.indexOf(filterText) !== -1 || order.userName.toLowerCase().indexOf(filterText) !== -1;
      }
    }
  };
</script>
<style>
  .admin-order-list  .center-headers th {
    text-align: center !important;
  }

  .admin-order-list  .btn-group > .btn.btn-md.btn-primary.active {
    background-color: #E46055 !important;
    border-color: #E46055 !important;
    box-shadow: 0 0 0 2px rgba(228, 96, 85, 0.5) !important;
  }

  .admin-order-list  .form-control {
    color: #666;
  }

  .admin-order-list  .form-control.red-outline:focus,
  .admin-order-list  .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .admin-order-list  .form-control.yellow-outline:focus,
  .admin-order-list  .custom-select.yellow-outline:focus {
    color: #666;
    border-color: #FFF074;
  }

  .admin-order-list  .active {
    background-color: #E46055 !important;
    border-color: #E46055 !important;
  }
</style>
