<template>
  <div class="container admin-item-add">
    <fil-admin-top-bar></fil-admin-top-bar>
    <div class="row mt-1">
      <div class="col">
        <flash ref="flash"></flash>
      </div>
    </div>
    <form novalidate @submit.stop.prevent="createItem">
      <div class="row mt-3">
        <div class="col-md-6 col-sm-12">
          <div class="row mt-3">
            <div class="col">
              <b-form-input class="red-outline" v-model.trim="item.name" type="text" placeholder="Name"></b-form-input>
              <small v-if="errors.has('name')" class="help-block text-muted">Name should have between 3 to 200 characters</small>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">₦</span>
                <b-form-input :rows="1" class="red-outline" v-model.number="item.price" type="number" placeholder="Price"></b-form-input>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <b-form-input textarea :rows="4" class="red-outline" v-model.trim="item.description" type="text" placeholder="Description"></b-form-input>
            </div>
          </div>
          <div class="row mt-3 align-items-center">
            <div class="col-8">
              <multiselect
                class="up-2"
                v-model="item.tags"
                :options="tags"
                label="name"
                :multiple="true"
                placeholder="Select tags"
                track-by="id" />
            </div>
            <div class="col-4">
              <div class="form-check">
                <label class="form-check-label h4">
                  <input class="form-check-input" type="checkbox" v-model="item.active">
                  Available
                </label>
              </div>
            </div>
          </div>
          <hr>
          <div class="row mt-3 mb-3 align-items-center">
            <div class="col">
              <fil-button text="Add variant" colour="red" @click.native="openVariantModal"></fil-button>
            </div>
            <div class="col">
              <fil-button text="Add charge" colour="red" @click.native="openChargeModal"></fil-button>
            </div>
          </div>
          <!--Variants-->
          <div class="row mt-3 mb-3 align-items-center">
            <div class="col-md-6 col-sm-12" v-if="item.variants.length > 0">
              <h4>Variants</h4>
              <table class="table table-hover">
                <thead>
                <tr>
                  <td class="text-uppercase">Name</td>
                  <td class="text-uppercase">Price</td>
                  <td></td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(variant, idx) in item.variants" :key="variant.name">
                  <td>{{ variant.name }}</td>
                  <td>{{ variant.price }}</td>
                  <td>
                    <button @click.stop.prevent="removeItem('variant', idx)" type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6 col-sm-12" v-if="item.charges.length > 0">
              <h4>Charges</h4>
              <table class="table table-hover">
                <thead>
                <tr>
                  <td class="text-uppercase">Name</td>
                  <td class="text-uppercase">Price</td>
                  <td></td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(charge, idx) in item.charges" :key="charge.name">
                  <td>{{ charge.name }}</td>
                  <td>{{ charge.price }}</td>
                  <td>
                    <button @click.stop.prevent="removeItem('charge', idx)" type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="text-center">
            <item-img
              :name="item.name"
              :photo="item.photo"></item-img>
            <input class="mt-2" type="file" @change="onFileChange">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <fil-button submit=true text="Create" colour="red"></fil-button>
        </div>
      </div>
    </form>
    <div class="row mt-3">
      <b-modal
        id="charge-modal"
        title="Add charge"
        @ok="addCharge"
        ok-title="Add charge">

        <form>
          <b-form-input class="red-outline mb-1" type="text" placeholder="Name" v-model.trim="charge.name"></b-form-input>
          <div class="input-group mt-2 mb-2">
            <span class="input-group-addon">₦</span>
            <b-form-input :rows="1" class="red-outline" v-model.number="charge.price" type="number" placeholder="Price"></b-form-input>
          </div>
        </form>
      </b-modal>

      <b-modal
        id="variant-modal"
        title="Add variant"
        @ok="addVariant"
        ok-title="Add variant">

        <form>
          <b-form-input class="red-outline mb-1" type="text" placeholder="Name" v-model.trim="variant.name"></b-form-input>
          <b-form-input textarea :rows="4" class="red-outline" v-model.trim="variant.description" type="text" placeholder="Description"></b-form-input>
          <div class="input-group mt-2 mb-2">
            <span class="input-group-addon">₦</span>
            <b-form-input :rows="1" class="red-outline" v-model.number="variant.price" type="number" placeholder="Price"></b-form-input>
          </div>
        </form>
      </b-modal>
    </div>
    <msg-modal ref="msgModal"></msg-modal>
  </div>
</template>
<script>
  import FilAdminTopBar from '@/components/AdminTopBar';
  import ItemImg from '@/components/FilItemImg';
  import FilButton from '@/components/FilButton';
  import Flash from '@/components/FlashMessage';
  import ButtonLink from '@/components/ButtonLink';
  import MsgModal from '@/components/MsgModal';
  import { APP_CONSTANTS } from '@/constants';
  import Multiselect from 'vue-multiselect';

  const template = {
    id: '',
    active: true,
    name: '',
    description: '',
    currency: 'NGN',
    price: 0,
    photo: '',
    tags: [],
    variants: [],
    charges: [],
    restaurant_id: ''
  };

  const variantTemplate = {
    description: '',
    name: '',
    price: 0
  };

  const chargeTemplate = {
    name: '',
    price: 0
  };

  export default {
    name: 'fil-admin-item-add',
    components: {
      FilAdminTopBar,
      FilButton,
      ItemImg,
      ButtonLink,
      MsgModal,
      Flash,
      Multiselect
    },
    data() {
      return {
        item: { ...template },
        variant: { ...variantTemplate },
        charge: { ...chargeTemplate },
        formData: new FormData()
      };
    },
    computed: {
      restaurant() {
        return this.$store.getters.getRestaurants.find(r => r.id === this.$route.params.restaurant_id);
      },
      tags() {
        return this.$store.getters.getTags.map(c => Object.assign({}, { name: c.name, id: c.id }));
      }
    },
    created() {
      this.$validator.attach('id', '');
      this.$validator.attach('restaurant_id', 'required');
      this.$validator.attach('name', 'required|min:3|max:200');
      this.$validator.attach('description', '');
      this.$validator.attach('photo', '');
      this.$validator.attach('variants', '');
      this.$validator.attach('charges', '');
      this.$validator.attach('tags', '');
      this.$validator.attach('currency', 'required');
      this.$validator.attach('price', 'decimal');
      this.$validator.attach('active', 'required');
    },
    mounted() {
      /* eslint-disable no-undef */
      document.title = 'Add food item - FoodILike';

      template.restaurant_id = this.restaurant.id;
      this.item.restaurant_id = this.restaurant.id;
    },
    watch: {
      /* eslint-disable object-shorthand */
      'item.price'(price) {
        this.item.price = this.$options.filters.round(price);
      }
    },
    methods: {
      createItem() {
        // Items must have at least 1 tag
        if (!this.item.tags.length) {
          this.showNotice('Items must have at least 1 tag', true);
          return;
        }
        
        this.$validator.validateAll(this.item)
          .then((valid) => {
            if (!valid) return;
            this.$store.dispatch('saveItem', this.item)
            .then(({ success, data }) => {
              if (success === APP_CONSTANTS.FAILED) {
                this.showNotice('Could not create food item', true);
                return null;
              }
              return data.id;
            }, (error) => {
              this.showNotice('Could not create food item', true);
            })
            .then((foodId) => {
              if (!foodId || !foodId.length) return;
              // Save picture, if available
              if (this.formData.has('file')) {
                this.$http.post(`images/items/${foodId}`, this.formData)
                .then(() => {
                  // Reload item from server - so we have the photo field filled
                  this.$store.dispatch('fetchItem', foodId);
                });
              }

              setTimeout(() => {
                this.item = { ...template };
                this.item.charges = [];
                this.item.variants = [];
                this.showNotice('Food item created', false);
              }, 1500);
            });
          });
      },
      onFileChange(event) {
        const files = event.target.files || event.dataTransfer.files;
        if (!files.length) return;

        // Delete previous entry, as FormData does not support updates
        this.formData.delete('file');
        this.formData.append('file', files[0]);
        // Load up the preview
        if (FileReader) { // Does the browser support FileReader?
          const fr = new FileReader();
          fr.onload = () => {
            document.querySelector('.item__image').src = fr.result;
          };
          fr.readAsDataURL(files[0]);
        }
      },
      showNotice(msg, isError) {
        if (isError) {
          this.$refs.flash.flashError(msg);
        } else {
          this.$refs.flash.flashSuccess(msg);
        }
      },
      openVariantModal() {
        this.$root.$emit('show::modal', 'variant-modal');
      },
      openChargeModal() {
        this.$root.$emit('show::modal', 'charge-modal');
      },
      addVariant() {
        if (this.variant.name.length) {
          this.item.variants.push({ ...this.variant });
        }
        this.variant = { ...variantTemplate };
      },
      addCharge() {
        if (this.charge.name.length && this.charge.price) {
          this.item.charges.push({ ...this.charge });
        }
        this.charge = { ...chargeTemplate };
      },
      removeItem(which, idx) {
        const arr = which === 'variant' ? this.item.variants : this.item.charges;
        arr.splice(idx, 1);
      },
      showNoticeModal(msg) {
        this.$refs.msgModal.show(msg);
      }
    }
  };
</script>
<style>
  .admin-item-add.container {
    width: 100%;
  }
  .admin-item-add .red-outline:focus {
    border-color: #E46055;
  }

  .admin-item-add  .form-control {
    color: #666;
  }

  .admin-item-add  .form-control.red-outline:focus,
  .admin-item-add  .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .admin-item-add  .modal-footer button {
    border-radius: 20px;
  }

  .admin-item-add  .modal-footer .btn-primary {
    border-color: #E46055;
    background-color: #E46055;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(228, 96, 85, 0.5);
  }

  /* Customize multiselect */
  .admin-item-add .multiselect .multiselect__tag {
    background-color: #E46055;
  }

  .admin-item-add .up-2 {
    z-index: 2;
  }

  .admin-item-add .multiselect .multiselect__option--highlight,
  .admin-item-add .multiselect .multiselect__option--highlight::after {
    background: #E46055;
  }

  .admin-item-add .multiselect .multiselect__tag-icon:focus,
  .admin-item-add .multiselect .multiselect__tag-icon:hover {
    background: #E46055;
  }
</style>
