<template>
  <div class="container w-100 admin-restaurant-list">
    <fil-admin-top-bar></fil-admin-top-bar>
    <div class="row mt-3">
      <div class="col justify-content-center">
        <table-top
          @per_page_selection="setPerPage"
          @filter_text_input="setFilterText"
          :button-href="newRestaurantLink"
          header-text="Restaurants"
          placeholder-text="Search by restaurant"
          button-text="Add restaurant"
          per-page-label="Restaurants per page"></table-top>
          <!-- desktop table -->
        <b-table striped
          v-if="!isMobile"
          class="center-headers"
          :items="restaurants" :fields="tableFields" :current-page="currentPage"
          :per-page="perPage" :filter="filter">
          <template slot="name" scope="item">
            {{ item.item.name }}
          </template>
          <template slot="city" scope="item">
            {{ item.item.city }}
          </template>
          <template slot="status" scope="item">
            <span class="badge badge-success" v-if="item.item.active">active</span>
            <span class="badge badge-default" v-else>inactive</span>
          </template>
          <template slot="food_items" scope="item">
            {{ numItems(item.item.id) }}
          </template>
          <template slot="actions" scope="item">
            <b-btn v-if="!hasOrders(item.item.id)" size="sm" @click.stop.prevent="deleteRestaurant(item.item)">Delete</b-btn>
            <b-btn size="sm" :href="restaurantLink(item.item)">Details</b-btn>
          </template>
        </b-table>
        <!-- mobile table -->
        <b-table striped
          v-else
          class="center-headers"
          :items="restaurants" :fields="mobileTableFields" :current-page="currentPage"
          :per-page="perPage" :filter="filter">
          <template slot="name" scope="item">
            {{ item.item.name }}
          </template>
          <template slot="city" scope="item">
            {{ item.item.city }}
          </template>
          <template slot="actions" scope="item">
            <b-btn size="sm" @click.stop.prevent="deleteRestaurant(item.item)">Delete</b-btn>
            <b-btn size="sm" :href="restaurantLink(item.item)">Details</b-btn>
          </template>
        </b-table>

        <div class="justify-content-center row">
          <b-pagination class="grp" size="md" :total-rows="restaurants.length" :per-page="perPage" v-model="currentPage" />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import { APP_CONSTANTS, isMobile } from '@/constants';
  import FilAdminTopBar from '@/components/AdminTopBar';
  import TableTop from '@/components/TableTop';

  export default {
    name: 'fil-admin-restaurant-list',
    components: {
      FilAdminTopBar,
      TableTop
    },
    data() {
      return {
        tableFields: {
          name: {
            label: 'Name',
            sortable: true
          },
          city: {
            label: 'City'
          },
          status: {
            label: 'Status'
          },
          food_items: {
            label: '# items'
          },
          actions: {
            label: 'Actions'
          }
        },
        currentPage: 1,
        perPage: 50,
        filterText: '',
        isMobile: false
      };
    },
    mounted() {
      this.isMobile = isMobile();
      /* eslint-disable no-undef */
      document.title = 'Restaurants - FoodILike';
    },
    computed: {
      restaurants() {
        // Return newest first
        return [...this.$store.getters.getRestaurants]
          .sort((r1, r2) => new Date(r2.inserted_at) - new Date(r1.inserted_at));
      },
      newRestaurantLink() {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.ADMIN_REST_ADD }).href;
      },
      mobileTableFields() {
        const fields = Object.assign({}, this.tableFields);
        delete fields.status;
        delete fields.food_items;
        return fields;
      }
    },
    methods: {
      hasOrders(id) {
        return this.$store.getters.getOrders
          .map(o => o.items.some(i => i.restaurant_id === id))
          .length > 0;
      },
      deleteRestaurant(restaurant) {
        this.$store.dispatch('deleteRestaurant', restaurant.id);
      },
      numItems(id) {
        return this.$store.getters.getItems.filter(f => f.restaurant_id === id).length;
      },
      restaurantLink(restaurant) {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.ADMIN_REST_SHOW, params: { id: restaurant.id } }).href;
      },
      setPerPage({ value }) {
        this.perPage = value;
      },
      setFilterText({ value }) {
        this.filterText = value;
      },
      filter(restaurant) {
        if (this.filterText.length === 0) return true;

        const filterText = this.filterText.toLowerCase().trim();

        if (restaurant.name.toLowerCase().indexOf(filterText) !== -1) return true;

        return false;
      }
    }
  };
</script>
<style>
  .admin-restaurant-list .center-headers th {
    text-align: center !important;
  }

  .admin-restaurant-list .btn-group > .btn.btn-md.btn-primary.active {
    background-color: #E46055 !important;
    border-color: #E46055 !important;
    box-shadow: 0 0 0 2px rgba(228, 96, 85, 0.5) !important;
  }

  .admin-restaurant-list .form-control {
    color: #666;
  }

  .admin-restaurant-list .form-control.red-outline:focus,
  .admin-restaurant-list .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .admin-restaurant-list .form-control.yellow-outline:focus,
  .admin-restaurant-list .custom-select.yellow-outline:focus {
    color: #666;
    border-color: #FFF074;
  }

  .admin-restaurant-list .active {
    background-color: #E46055 !important;
    border-color: #E46055 !important;
  }
</style>
