<template>
  <div class="container admin-restaurant-show">
    <fil-admin-top-bar></fil-admin-top-bar>
    <div class="row mt-1">
      <div class="col">
        <flash ref="flash"></flash>
      </div>
    </div>
    <form novalidate @submit.stop.prevent="updateRestaurant">
      <div class="row mt-3">
        <div class="col-md-6 col-sm-12">
          <div class="row mt-3">
            <div class="col">
              <b-form-input class="red-outline" v-model.trim="restaurant.name" type="text" placeholder="Name"></b-form-input>
              <small v-if="errors.has('name')" class="help-block text-muted">Name cannot have less than 5 characters & more than 50 characters</small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <b-form-input class="red-outline" v-model.trim="restaurant.contact_name" type="text" placeholder="Contact name"></b-form-input>
              <small v-if="errors.has('contact_name')" class="help-block text-muted">Contact name is empty</small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <b-form-input class="red-outline" v-model.trim="restaurant.contact_email" type="email" placeholder="Contact email"></b-form-input>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <b-form-input class="red-outline" v-model.trim="restaurant.contact_phone" type="text" placeholder="Contact phone"></b-form-input>
              <small v-if="errors.has('contact_phone')" class="help-block text-muted">Contact phone should have at least 11 digits</small>
            </div>
          </div>
          <div class="row mt-3 align-items-center">
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">{{ 'Delivery fee (' }}{{ restaurant.currency | asCurrency }}{{ ')' }}</span>
                <input type="number" class="form-control red-outline" v-model.number="restaurant.delivery_fee" placeholder="Commission percentage">
              </div>
            </div>
          </div>
          <div class="row mt-3 align-items-center">
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Commission (%)</span>
                <input type="number" class="form-control red-outline" v-model.number="restaurant.commission" placeholder="Commission percentage">
              </div>
            </div>
          </div>
          <div class="row mt-3 align-items-center">
            <div class="col">
              <div class="form-check">
                <label class="form-check-label h4">
                  <input class="form-check-input" type="checkbox" v-model.trim="restaurant.active">
                  Active
                </label>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <b-form-select class="red-outline"
                             v-model.trim="restaurant.commission_type"
                             :options="commissionTypes"
                             calss="mb-3"></b-form-select>
              <small v-if="errors.has('commission_type')" class="help-block text-muted">Select a commission type</small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <b-form-input class="red-outline" v-model.trim="restaurant.street" type="text" placeholder="Street"></b-form-input>
              <small v-if="errors.has('street')" class="help-block text-muted">Street address is empty</small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="input-group">
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.city" placeholder="City">
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.country" placeholder="Country">
              </div>
              <small v-if="errors.has('city')" class="help-block text-muted">City is empty<br></small>
              <small v-if="errors.has('country')" class="help-block text-muted">Country is empty</small>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="row mt-3">
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Mon</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.mon" placeholder="Start hour-End hour">
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Tue</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.tue" placeholder="Start hour-End hour">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Wed</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.wed" placeholder="Start hour-End hour">
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Thu</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.thu" placeholder="Start hour-End hour">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Fri</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.fri" placeholder="Start hour-End hour">
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Sat</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.sat" placeholder="Start hour-End hour">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <div class="input-group">
                <span class="input-group-addon">Sun</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.sun" placeholder="Start hour-End hour">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 mt-3">
              <div class="text-center">
                <item-img
                  :name="restaurant.name"
                  resource="restaurant"
                  :photo="restaurant.photo"></item-img>
                <input class="mt-2" type="file" @change="onFileChange">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <fil-button submit=true text="Update" colour="red"></fil-button>
          <hr>
        </div>
      </div>
    </form>
    <div class="row mt-3">
      <div class="col justify-content-center">
        <table-top
          @per_page_selection="setPerPage"
          @filter_text_input="setFilterText"
          :button-href="newFoodLink"
          placeholder-text="Search by name"
          button-text="Add food item"
          per-page-label="Food items per page"></table-top>
        <b-table striped class="center-headers"
                 :items="items" :fields="tableFields" :current-page="currentPage"
                 :per-page="perPage" :filter="filter">
          <template slot="name" scope="item">
            {{ item.item.name }}
          </template>
          <template slot="restaurant_id" scope="item">
            {{ item.item.restaurant_id | showName('restaurant', $store) }}
          </template>
          <template slot="tags" scope="item">
            <span class="badge badge-default ml-1" v-for="tag in item.item.tags" :key="tag.id">
              {{ tag.name }}
            </span>
          </template>
          <template slot="price" scope="item">
            <price :currency="item.item.currency" :amount="item.item.price"></price>
          </template>
          <template slot="active" scope="item">
            <span class="badge badge-success" v-if="item.item.active">yes</span>
            <span class="badge badge-default" v-else>no</span>
          </template>
          <template slot="actions" scope="item">
            <b-btn size="sm" :href="foodLink(item.item.id)">Details</b-btn>
            <b-btn size="sm" class="clickable" @click.native="deleteItem(item.item.id)">Delete</b-btn>
          </template>
        </b-table>

        <div class="justify-content-center row">
          <b-pagination class="grp" size="md" :total-rows="items.length" :per-page="perPage" v-model.trim="currentPage" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { APP_CONSTANTS } from '@/constants';
  import FilAdminTopBar from '@/components/AdminTopBar';
  import TableTop from '@/components/TableTop';
  import FilButton from '@/components/FilButton';
  import Flash from '@/components/FlashMessage';
  import Price from '@/components/Price';
  import ItemImg from '@/components/FilItemImg';

  export default {
    name: 'fil-admin-restaurant-show-page',
    components: {
      FilAdminTopBar,
      FilButton,
      TableTop,
      Flash,
      Price,
      ItemImg
    },
    data() {
      return {
        showAlert: false,
        state: 'danger',
        stateMsg: '',
        currentPage: 1,
        perPage: 50,
        filterText: '',
        formData: new FormData(),
        commissionTypes: [
          { text: 'Select a commission type', value: null },
          { text: 'Deduction', value: 'deduct' },
          { text: 'Markup', value: 'markup' }
        ],
        tableFields: {
          name: {
            label: 'Name',
            sortable: true
          },
          price: {
            label: 'Price'
          },
          restaurant_id: {
            label: 'Restaurant',
            sortable: true
          },
          tags: {
            label: 'Tags',
            sortable: true
          },
          active: {
            label: 'Available'
          },
          actions: {
            label: 'Actions'
          }
        }
      };
    },
    computed: {
      restaurant() {
        return { ...this.$store.getters.getRestaurants.find(r => r.id === this.$route.params.id) };
      },
      items() {
        // Return newest first
        return this.$store.getters
          .getItems.filter(f => f.restaurant_id === this.restaurant.id)
          .sort((f1, f2) => new Date(f2.inserted_at) - new Date(f1.inserted_at));
      },
      newFoodLink() {
        return this.$router.resolve({
          name: APP_CONSTANTS.ROUTES.ADMIN_ITEM_ADD,
          params: { restaurant_id: this.restaurant.id }
        }).href;
      }
    },
    created() {
      this.$validator.attach('id', 'required');
      this.$validator.attach('long', '');
      this.$validator.attach('lat', '');
      this.$validator.attach('photo', '');
      this.$validator.attach('updated_at', '');
      this.$validator.attach('inserted_at', '');
      this.$validator.attach('delivery_fee', 'required|decimal');
      this.$validator.attach('currency', 'required|min:3|max:3');
      this.$validator.attach('name', 'required|min:5|max:50');
      this.$validator.attach('contact_name', 'required|min:2|max:20');
      this.$validator.attach('contact_email', 'email');
      this.$validator.attach('contact_phone', 'required|min:11');
      this.$validator.attach('commission', 'required|decimal:2');
      this.$validator.attach('commission_type', 'required|in:markup,deduct');
      this.$validator.attach('street', 'required');
      this.$validator.attach('city', 'required');
      this.$validator.attach('country', 'required');
      this.$validator.attach('active', '');
      this.$validator.attach('mon', '');
      this.$validator.attach('tue', '');
      this.$validator.attach('wed', '');
      this.$validator.attach('thu', '');
      this.$validator.attach('fri', '');
      this.$validator.attach('sat', '');
      this.$validator.attach('sun', '');
    },
    mounted() {
      /* eslint-disable no-undef */
      document.title = `${this.restaurant.name} - FoodILike`;
    },
    watch: {
      // eslint-disable-next-line object-shorthand
      'restaurant.commission'(val) {
        this.restaurant.commission = this.$options.filters.round(Number(val));
      }
    },
    methods: {
      onFileChange(event) {
        const files = event.target.files || event.dataTransfer.files;
        if (!files.length) return;

        // Delete previous entry, as FormData does not support updates
        this.formData.delete('file');
        this.formData.append('file', files[0]);
        // Load up the preview
        if (FileReader) { // Does the browser support FileReader?
          const fr = new FileReader();
          fr.onload = () => {
            document.querySelector('.item__image').src = fr.result;
          };
          fr.readAsDataURL(files[0]);
        }
      },
      setPerPage({ value }) {
        this.perPage = value;
      },
      setFilterText({ value }) {
        this.filterText = value;
      },
      filter(foodItem) {
        if (this.filterText.length === 0) return true;
        return foodItem.name.toLowerCase().indexOf(this.filterText.toLowerCase().trim()) !== -1;
      },
      foodLink(id) {
        return this.$router.resolve({
          name: APP_CONSTANTS.ROUTES.ADMIN_ITEM_SHOW,
          params: { id }
        }).href;
      },
      deleteItem(id) {
        this.$store.dispatch('deleteItem', id);
      },
      updateRestaurant() {
        this.$validator
          .validateAll(this.restaurant)
          .then((valid) => {
            if (valid) {
              this.$store.dispatch('saveRestaurant', this.restaurant)
              .then(({ success, data }) => {
                if (success === APP_CONSTANTS.OK) {
                  this.showNotice('Restaurant saved', false);
                  return data.id;
                }
                return null;
              }, (error) => {
                this.showNotice('Could not update restaurant', true);
                return null;
              })
              .then((id) => {
                if (!id || !id.length) return;
                // Save picture, if available
                if (this.formData.has('file')) {
                  this.$http.post(`images/restaurants/${id}`, this.formData)
                  .then(() => {
                    // Reload restaurant from server - so we have the photo field filled
                    this.$store.dispatch('fetchRestaurant', id);
                  });
                }
              });
            } else {
              this.showNotice('Invalid values supplied', true);
            }
          });
      },
      showNotice(msg, isError) {
        if (isError) {
          this.$refs.flash.flashError(msg);
        } else {
          this.$refs.flash.flashSuccess(msg);
        }
      }
    }
  };
</script>
<style>
  .container.admin-restaurant-show {
    width: 100%;
  }

  .admin-restaurant-show .red-outline:focus {
    border-color: #E46055;
  }

  .admin-restaurant-show .btn-group > .btn.btn-md.btn-primary.active {
    background-color: #E46055 !important;
    border-color: #E46055 !important;
    box-shadow: 0 0 0 2px rgba(228, 96, 85, 0.5) !important;
  }
</style>
