<template>
  <div class="container admin-user-add">
    <fil-admin-top-bar></fil-admin-top-bar>
    <div class="row mt-1">
      <div class="col">
        <flash ref="flash"></flash>
      </div>
    </div>
    <form novalidate @submit.stop.prevent="createUser">
      <div class="row mt-3">
        <div class="col-md-6 col-sm-12">
          <div class="row mt-3">
            <div class="col">
              <div class="input-group">
                <input type="text" class="form-control red-outline" v-model.trim="user.first_name" placeholder="First name">
                <input type="text" class="form-control red-outline" v-model.trim="user.last_name" placeholder="Last name">
              </div>
              <small v-if="errors.has('first_name')" class="help-block text-muted">First name should have between 2 to 20 characters<br></small>
              <small v-if="errors.has('last_name')" class="help-block text-muted">Last name should have between 2 to 20 characters</small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="input-group">
                <input type="email" class="form-control red-outline" v-model.trim="user.email" placeholder="Email">
                <input class="form-control red-outline" v-model="user.password" placeholder="Password">
              </div>
              <small v-if="errors.has('email')" class="help-block text-muted">Provide a valid email<br></small>
              <small v-if="errors.has('password')" class="help-block text-muted">Password should have between 6 to 100 characters</small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <b-form-input class="red-outline" v-model.trim="user.phone" type="text" placeholder="Phone"></b-form-input>
              <small v-if="errors.has('phone')" class="help-block text-muted">Phone number should have at least 9 digits</small>
            </div>
          </div>
          <div class="row mt-3 align-items-center">
            <div class="col-8">
              <b-form-select class="red-outline"
                 v-model="user.role"
                 :options="roles"
                 calss="mb-3"></b-form-select>
              <small v-if="errors.has('role')" class="help-block text-muted">Select a role</small>
            </div>
            <div class="col-4">
              <div class="form-check">
                <label class="form-check-label h4">
                  <input class="form-check-input" type="checkbox" v-model="user.active">
                  Active
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-block">
              <div class="row mt-3">
                <div class="col">
                  <b-form-input class="red-outline" v-model.trim="address.street" type="text" placeholder="Street"></b-form-input>
                </div>
              </div>
              <div class="row mt-3 mb-2">
                <div class="col">
                  <div class="input-group">
                    <input type="text" class="form-control red-outline" v-model.trim="address.city" placeholder="City">
                    <input type="text" class="form-control red-outline" v-model.trim="address.country" placeholder="Country">
                  </div>
                </div>
              </div>
              <fil-button text="Add address" colour="red" @click.native="addAddress"></fil-button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="card">
                <div class="card-block">
                  <h4 class="card-title text-left">Addresses</h4>
                  <p style="text-overflow: ellipsis;"
                     class="card-text text-left" v-for="(addr, idx) in user.addresses" :key="idx">
                    {{ addr.street }}, {{ addr.city }}, {{ addr.country }}
                    <button
                      @click.stop.prevent="removeAddress(idx)"
                      type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col">
          <fil-button submit=true text="Create" colour="red"></fil-button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
  import FilAdminTopBar from '@/components/AdminTopBar';
  import Flash from '@/components/FlashMessage';
  import FilButton from '@/components/FilButton';
  import ButtonLink from '@/components/ButtonLink';
  import { APP_CONSTANTS } from '@/constants';

  const template = {
    id: '',
    active: true,
    first_name: '',
    last_name: '',
    phone: '',
    role: 'user',
    email: '',
    password: '',
    addresses: []
  };

  const addressTemplate = {
    street: '',
    city: 'Abuja',
    country: 'Nigeria'
  };

  export default {
    name: 'fil-admin-user-add',
    components: {
      FilAdminTopBar,
      FilButton,
      ButtonLink,
      Flash
    },
    data() {
      return {
        user: { ...template },
        address: { ...addressTemplate },
        roles: [
          { text: 'Select a role', value: '' },
          { text: 'Admin', value: 'admin' },
          { text: 'User', value: 'user' },
          { text: 'Driver', value: 'driver' }
        ]
      };
    },
    created() {
      this.$validator.attach('id', '');
      this.$validator.attach('first_name', 'required|min:2|max:20');
      this.$validator.attach('last_name', 'required|min:2|max:20');
      this.$validator.attach('email', 'required|email');
      this.$validator.attach('phone', '');
      this.$validator.attach('role', 'required|in:admin,user,driver');
      this.$validator.attach('password', 'required|min:6|max:100');
      this.$validator.attach('active', '');
      this.$validator.attach('addresses', '');
    },
    mounted() {
      /* eslint-disable no-undef */
      document.title = 'Add User - FoodILike';
    },
    methods: {
      addAddress() {
        const index = this.user.addresses.findIndex(a =>
          a.street === this.address.street &&
          a.city === this.address.city &&
          a.country === this.address.country);

        if (index === -1 &&
          this.address.street.length &&
          this.address.city.length &&
          this.address.country.length) {
          this.user.addresses.push({ ...this.address });
        }

        this.address = { ...addressTemplate };
      },
      removeAddress(index) {
        this.user.addresses.splice(index, 1);
      },
      showNotice(msg, isError) {
        if (isError) {
          this.$refs.flash.flashError(msg);
        } else {
          this.$refs.flash.flashSuccess(msg);
        }
      },
      createUser() {
        this.$validator.validateAll(this.user)
          .then((valid) => {
            if (!valid) return;
            this.user.first_name = this.user.first_name;
            this.user.last_name = this.user.last_name;
            this.user.email = this.user.email;
            this.user.phone = this.user.phone;

            this.$store.dispatch('saveUser', this.user)
              .then(({ success, data }) => {
                if (success === APP_CONSTANTS.OK) {
                  this.showNotice('User created', false);
                  this.user = { ...template };
                } else {
                  this.showNotice('Could not create user', true);
                }
              }, (error) => {
                this.showNotice('Could not create user', true);
              });
          });
      }
    }
  };
</script>
<style>
  .container {
    width: 100%;
  }
  .admin-user-add .red-outline:focus {
    border-color: #E46055;
  }

  .admin-user-add  .form-control {
    color: #666;
  }

  .admin-user-add  .form-control.red-outline:focus,
  .admin-user-add  .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }
</style>
