<template>
  <div class="container admin-restaurant-add">
    <fil-admin-top-bar></fil-admin-top-bar>
    <div class="row mt-1">
      <div class="col">
        <flash ref="flash"></flash>
      </div>
    </div>
    <form novalidate @submit.stop.prevent="createRestaurant">
      <div class="row mt-3">
        <div class="col-md-6 col-sm-12">
          <div class="row mt-3">
            <div class="col">
              <b-form-input class="red-outline" v-model.trim="restaurant.name" type="text" placeholder="Name"></b-form-input>
              <small v-if="errors.has('name')" class="help-block text-muted">Name cannot have less than 5 characters & more than 50 characters</small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <b-form-input class="red-outline" v-model.trim="restaurant.contact_name" type="text" placeholder="Contact name"></b-form-input>
              <small v-if="errors.has('contact_name')" class="help-block text-muted">Contact name is empty</small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <b-form-input class="red-outline" v-model.trim="restaurant.contact_email" type="email" placeholder="Contact email"></b-form-input>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <b-form-input class="red-outline" v-model.trim="restaurant.contact_phone" type="text" placeholder="Contact phone"></b-form-input>
              <small v-if="errors.has('contact_phone')" class="help-block text-muted">Contact phone should have at least 11 digits</small>
            </div>
          </div>
          <div class="row mt-3 align-items-center">
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">{{ 'Delivery fee (' }}{{ restaurant.currency | asCurrency }}{{ ')' }}</span>
                <input type="number" class="form-control red-outline" v-model.number="restaurant.delivery_fee" placeholder="Delivery fee">
              </div>
            </div>
          </div>
          <div class="row mt-3 align-items-center">
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Commission (%)</span>
                <input type="number" class="form-control red-outline" v-model.number="restaurant.commission" placeholder="Commission percentage">
              </div>
            </div>
          </div>
          <div class="row mt-3 align-items-center">
            <div class="col">
              <div class="form-check">
                <label class="form-check-label h4">
                  <input class="form-check-input" type="checkbox" v-model.trim="restaurant.active">
                  Active
                </label>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <b-form-select class="red-outline"
                             v-model.trim="restaurant.commission_type"
                             :options="commissionTypes"
                             calss="mb-3"></b-form-select>
              <small v-if="errors.has('commission_type')" class="help-block text-muted">Select a commission type</small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <b-form-input class="red-outline" v-model.trim="restaurant.street" type="text" placeholder="Street"></b-form-input>
              <small v-if="errors.has('street')" class="help-block text-muted">Street address is empty</small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="input-group">
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.city" placeholder="City">
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.country" placeholder="Country">
              </div>
              <small v-if="errors.has('city')" class="help-block text-muted">City is empty<br></small>
              <small v-if="errors.has('country')" class="help-block text-muted">Country is empty</small>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="row mt-3">
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Mon</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.mon" placeholder="Start hour-End hour">
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Tue</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.tue" placeholder="Start hour-End hour">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Wed</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.wed" placeholder="Start hour-End hour">
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Thu</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.thu" placeholder="Start hour-End hour">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Fri</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.fri" placeholder="Start hour-End hour">
              </div>
            </div>
            <div class="col">
              <div class="input-group">
                <span class="input-group-addon">Sat</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.sat" placeholder="Start hour-End hour">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <div class="input-group">
                <span class="input-group-addon">Sun</span>
                <input type="text" class="form-control red-outline" v-model.trim="restaurant.sun" placeholder="Start hour-End hour">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 mt-3">
              <div class="text-center">
                <item-img
                  :name="restaurant.name"
                  resource="restaurant"
                  :photo="restaurant.photo"></item-img>
                <input class="mt-2" type="file" @change="onFileChange">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col">
          <fil-button submit=true text="Create" colour="red"></fil-button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
  import { APP_CONSTANTS } from '@/constants';
  import FilAdminTopBar from '@/components/AdminTopBar';
  import Flash from '@/components/FlashMessage';
  import FilButton from '@/components/FilButton';
  import ItemImg from '@/components/FilItemImg';

  const template = {
    id: '',
    active: true,
    name: '',
    photo: '',
    contact_name: '',
    contact_email: '',
    contact_phone: '',
    commission: 0,
    delivery_fee: 500,
    commission_type: 'deduct',
    street: '',
    city: 'Abuja',
    country: 'Nigeria',
    mon: '6:00-22:00',
    tue: '6:00-22:00',
    wed: '6:00-22:00',
    thu: '6:00-22:00',
    fri: '6:00-22:00',
    sat: '6:00-22:00',
    sun: '6:00-22:00'
  };

  export default {
    name: 'fil-admin-restaurant-add',
    components: {
      FilAdminTopBar,
      FilButton,
      Flash,
      ItemImg
    },
    data() {
      return {
        restaurant: { ...template },
        formData: new FormData(),
        commissionTypes: [
          { text: 'Select a commission type', value: null },
          { text: 'Deduction', value: 'deduct' },
          { text: 'Markup', value: 'markup' }
        ]
      };
    },
    created() {
      this.$validator.attach('id', '');
      this.$validator.attach('name', 'required|min:5|max:50');
      this.$validator.attach('contact_name', 'required|min:2|max:20');
      this.$validator.attach('contact_email', 'email');
      this.$validator.attach('contact_phone', 'required|min:11');
      this.$validator.attach('commission', 'required|decimal:2');
      this.$validator.attach('delivery_fee', 'required|decimal');
      this.$validator.attach('commission_type', 'required|in:markup,deduct');
      this.$validator.attach('street', 'required');
      this.$validator.attach('city', 'required');
      this.$validator.attach('country', 'required');
      this.$validator.attach('photo', '');
      this.$validator.attach('active', '');
      this.$validator.attach('mon', '');
      this.$validator.attach('tue', '');
      this.$validator.attach('wed', '');
      this.$validator.attach('thu', '');
      this.$validator.attach('fri', '');
      this.$validator.attach('sat', '');
      this.$validator.attach('sun', '');
    },
    mounted() {
      /* eslint-disable no-undef */
      document.title = 'Add Restaurant - FoodILike';
    },
    watch: {
      // eslint-disable-next-line object-shorthand
      'restaurant.commission'(val) {
        this.restaurant.commission = this.$options.filters.round(Number(val));
      }
    },
    methods: {
      onFileChange() {
        const files = event.target.files || event.dataTransfer.files;
        if (!files.length) return;

        // Delete previous entry, as FormData does not support updates
        this.formData.delete('file');
        this.formData.append('file', files[0]);
        // Load up the preview
        if (FileReader) { // Does the browser support FileReader?
          const fr = new FileReader();
          fr.onload = () => {
            document.querySelector('.item__image').src = fr.result;
          };
          fr.readAsDataURL(files[0]);
        }
      },
      createRestaurant() {
        this.$validator.validateAll(this.restaurant)
        .then((valid) => {
          if (valid) {
            this.$store.dispatch('saveRestaurant', this.restaurant)
            .then(({ success, data }) => {
              if (success === APP_CONSTANTS.OK) {
                this.restaurant = { ...template };
                this.showNotice('Restaurant created', false);
                return data.id;
              }

              this.showNotice('Could not create restaurant', true);
              return null;
            }, (error) => {
              this.showNotice('Could not create restaurant', true);
              return null;
            })
            .then((id) => {
              if (!id || !id.length) return;
              // Save picture, if available
              if (this.formData.has('file')) {
                this.$http.post(`images/restaurants/${id}`, this.formData)
                .then(() => {
                  // Reload restaurant from server - so we have the photo field filled
                  this.$store.dispatch('fetchRestaurant', id);
                });
              }

              setTimeout(() => {
                this.item = { ...template };
                this.item.charges = [];
                this.item.variants = [];
                this.showNotice('Food item created', false);
              }, 1500);
            });
          }
        });
      },
      showNotice(msg, isError) {
        if (isError) {
          this.$refs.flash.flashError(msg);
        } else {
          this.$refs.flash.flashSuccess(msg);
        }
      }
    }
  };
</script>
<style>
  .container {
    width: 100%;
  }
  .admin-restaurant-add .red-outline:focus {
    border-color: #E46055;
  }
</style>
