<template>
  <div class="container w-100 admin-user-list">
    <fil-admin-top-bar></fil-admin-top-bar>
    <div class="row mt-3">
      <div class="col justify-content-center">
        <table-top
          @per_page_selection="setPerPage"
          @filter_text_input="setFilterText"
          :button-href="addUserLink"
          header-text="Users"
          placeholder-text="Search by user"
          button-text="Add user"
          per-page-label="Users per page"></table-top>
        <!-- desktop table -->
        <b-table striped 
          v-if="!isMobile"
          class="center-headers"
          :items="users" :fields="tableFields" :current-page="currentPage"
          :per-page="perPage" :filter="filter">
          <template slot="first_name" scope="item">
            {{ item.item.first_name }}
          </template>
          <template slot="last_name" scope="item">
            {{ item.item.last_name }}
          </template>
          <template slot="role" scope="item">
            <span class="badge badge-default">
              {{ item.item.role }}
            </span>
          </template>
          <template slot="actions" scope="item">
            <b-btn size="sm" :href="userLink(item.item)">Details</b-btn>
          </template>
        </b-table>

        <!-- mobile table -->
        <b-table striped 
          v-else
          class="center-headers"
          :items="users" :fields="mobileTableFields" :current-page="currentPage"
          :per-page="perPage" :filter="filter">
          <template slot="first_name" scope="item">
            {{ item.item.first_name }}
          </template>
          <template slot="last_name" scope="item">
            {{ item.item.last_name }}
          </template>
          <template slot="actions" scope="item">
            <b-btn size="sm" :href="userLink(item.item)">Details</b-btn>
          </template>
        </b-table>

        <div class="justify-content-center row">
          <b-pagination class="grp" size="md" :total-rows="users.length" :per-page="perPage" v-model="currentPage" />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import { APP_CONSTANTS, isMobile } from '@/constants';
  import FilAdminTopBar from '@/components/AdminTopBar';
  import FilButton from '@/components/FilButton';
  import TableTop from '@/components/TableTop';

  export default {
    name: 'fil-admin-user-list',
    components: {
      FilAdminTopBar,
      FilButton,
      TableTop
    },
    data() {
      return {
        tableFields: {
          first_name: {
            label: 'First name',
            sortable: true
          },
          last_name: {
            label: 'Last name',
            sortable: true
          },
          role: {
            label: 'Role',
            sortable: true
          },
          actions: {
            label: 'Actions'
          }
        },
        currentPage: 1,
        perPage: 50,
        filterText: '',
        isMobile: false
      };
    },
    mounted() {
      this.isMobile = isMobile();
      /* eslint-disable no-undef */
      document.title = 'Users - FoodILike';
    },
    computed: {
      users() {
        // Return newest first
        return [...this.$store.getters.getUsers]
      .sort((u1, u2) => new Date(u2.inserted_at) - new Date(u1.inserted_at));
      },
      addUserLink() {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.ADMIN_USER_ADD }).href;
      },
      mobileTableFields() {
        const fields = Object.assign({}, this.tableFields);
        delete fields.role;
        return fields;
      }
    },
    methods: {
      userLink(user) {
        // Send logged in user to profile page
        if (user.id === this.$store.getters.getUser.id) {
          return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.USER_ACCOUNT }).href;
        }
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.ADMIN_USER_SHOW, params: { id: user.id } }).href;
      },
      setPerPage({ value }) {
        this.perPage = value;
      },
      setFilterText({ value }) {
        this.filterText = value;
      },
      filter(user) {
        if (this.filterText.length === 0) return true;

        const filterText = this.filterText.toLowerCase().trim();
        const firstName = user.first_name.toLowerCase();
        const lastName = user.last_name.toLowerCase();

        return (firstName.indexOf(filterText) !== -1 || lastName.indexOf(filterText) !== -1);
      }
    }
  };
</script>
<style>
  .admin-user-list .center-headers th {
    text-align: center !important;
  }

  .admin-user-list .btn-group > .btn.btn-md.btn-primary.active {
    background-color: #E46055 !important;
    border-color: #E46055 !important;
    box-shadow: 0 0 0 2px rgba(228, 96, 85, 0.5) !important;
  }

  .admin-user-list .form-control {
    color: #666;
  }

  .admin-user-list .form-control.red-outline:focus,
  .admin-user-list .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .admin-user-list .form-control.yellow-outline:focus,
  .admin-user-list .custom-select.yellow-outline:focus {
    color: #666;
    border-color: #FFF074;
  }

  .admin-user-list .active {
    background-color: #E46055 !important;
    border-color: #E46055 !important;
  }
</style>

