<template>
  <div class="container-fluid checkout-page">
    <top-bar></top-bar>
    <div class="row mt-3 ml-4">
      <div class="col">
        <h1 class="text-uppercase text-left" v-if="!isMobile">Shopping Bag</h1>
        <h2 class="text-uppercase text-left" v-else>Shopping Bag</h2>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-9 col-sm-12">
        <table class="table table-hover" v-if="!isMobile">
          <thead>
          <tr>
            <td class="text-uppercase">Item</td>
            <td class="text-uppercase">Qty</td>
            <td class="text-uppercase">Amount</td>
            <td></td>
          </tr>
          </thead>
          <tbody>
          <tr
            v-for="(item, idx) in wishList.items"
            :key="`${item.item_id}-${item.restaurant_id}`">
            <td>
              <div>
                <p class="h5">
                  {{ item.name }}&ensp;&rightarrow;&ensp;
                  <price :currency="item.currency" :amount="item.price"></price>
                </p>
                <div v-if="!!item.charges.length">
                  <h6>Extra charges:</h6>
                  <p v-for="(charge, idx) in item.charges" :key="idx" class="mb-0">
                    &ndash; {{ charge.name }}
                    &ensp;&rightarrow;&ensp;<price :currency="item.currency" :amount="charge.price"></price>
                  </p>
                </div>
                <p class="mt-2 mb-0" style="font-size: 80%;">From: {{ item.restaurant_name }}</p>
                <br>
              </div>
            </td>
            <td>
              <h3>
                <qty-selector
                  @new_qty="modifyItemQuantity"
                  :min-value="1"
                  :tag="idx"
                  :initial-qty="item.quantity"></qty-selector>
              </h3>
            </td>
            <td>
              <h4><price :currency="item.currency" :amount="itemPrice(item)"></price></h4>
            </td>
            <td>
              <button @click.stop.prevent="removeItem(idx)" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <table class="table table-hover" v-else>
          <tbody>
          <tr
            v-for="(item, idx) in wishList.items"
            :key="`${item.item_id}-${item.restaurant_id}`">
            <td>
              <div>
                <p class="h5">
                  {{ item.name }}&ensp;&rightarrow;&ensp;
                  <price :currency="item.currency" :amount="item.price"></price>
                </p>
                <div v-if="!!item.charges.length">
                  <h6>Extra charges:</h6>
                  <p v-for="(charge, idx) in item.charges" :key="idx" class="mb-0">
                    &ndash; {{ charge.name }}
                    &ensp;&rightarrow;&ensp;<price :currency="item.currency" :amount="charge.price"></price>
                  </p>
                </div>
                <p class="mt-2 mb-0" style="font-size: 80%;">From: {{ item.restaurant_name }}</p>
                <br>
              </div>
              <h3>
                <qty-selector
                  @new_qty="modifyItemQuantity"
                  :min-value="1"
                  :tag="idx"
                  :initial-qty="item.quantity"></qty-selector>
              </h3>
              <h4><price :currency="item.currency" :amount="itemPrice(item)"></price></h4>
            </td>
            <td>
              <button @click.stop.prevent="removeItem(idx)" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6 mt-2 mb-2">
            <p><em>Delivery time is usually within 60 minutes.</em></p>
          </div>
          <div class="col-sm-3"></div>
        </div>

        <div class="row">
          <div class="col">
            <h4 v-if="!!userAddresses.length">Delivery address</h4>
            <a
              :href="profileLink"
              class="red-text" v-if="isSignedIn && !userAddresses.length">
              Please add a delivery address to your profile
            </a>
            <div v-if="!!userAddresses.length">
              <multiselect
                class="up-2 mb-4"
                v-model="address"
                :options="userAddresses"
                label="text"
                :multiple="false"
                placeholder="Select your delivery address"
                track-by="id" />
            </div>
            <div class="mt-3 mb-3">
              <b-form-input v-if="!!userAddresses.length"
                class="red-outline" :rows="3"
                textarea placeholder="Got any instructions?"
                v-model.trim="order.instructions"></b-form-input>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="list-group">
              <div class="list-group-item text-uppercase border-left-0 border-top-0 border-right-0">
                Totals
              </div>
              <div class="list-group-item border-left-0 border-right-0 justify-content-between">
                <p class="text-uppercase">Subtotal</p>
                <p class="pull-right">
                  <price :currency="wishList.currency" :amount="wishList.subtotal"></price>
                </p>
              </div>
              <div v-if="!wishListEmpty"
                class="list-group-item border-left-0 border-top-0 border-right-0 justify-content-between">
                <p class="text-uppercase">Delivery</p>
                <p class="pull-right">
                  <price :currency="wishList.currency" :amount="wishList.delivery_fee"></price>
                </p>
              </div>
              <div class="list-group-item border-left-0 border-right-0 border-bottom-0 justify-content-between font-weight-bold">
                <p class="text-uppercase">Total</p>
                <p class="pull-right">
                  <price :currency="wishList.currency" :amount="wishList.total"></price>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mb-4">
            <pay-button
              v-if="!wishListEmpty"
              style="width: 60%;"
              @click.native="handlePayment" background="red"></pay-button><br>
            <small v-if="busy" class="text-muted">Working...</small>
          </div>
        </div>
      </div>
    </div>
    <fil-footer></fil-footer>
    <msg-modal ref="msgModal"></msg-modal>
  </div>
</template>
<script>
  import PayButton from '@/components/FilPayButton';
  import MsgModal from '@/components/MsgModal';
  import TopBar from '@/components/TopBar';
  import FilFooter from '@/components/Footer';
  import Price from '@/components/Price';
  import QtySelector from '@/components/QuantitySelector';
  import {
    isSignedIn,
    isWishListEmpty,
    APP_CONSTANTS,
    getPaystackScriptSrc,
    getSimplepayScriptSrc,
    getSimplePayPublicKey,
    getPaystackPublicKey,
    generateTransactionToken,
    isMobile
  } from '@/constants';
  import Multiselect from 'vue-multiselect';

  export default {
    name: 'fil-checkout',
    components: {
      TopBar,
      FilFooter,
      PayButton,
      QtySelector,
      MsgModal,
      Multiselect,
      Price
    },
    data() {
      return {
        address: null,
        order: {},
        hasPaid: false,
        busy: false,
        isMobile: false
      };
    },
    computed: {
      isSignedIn() {
        return isSignedIn(this.$store);
      },
      profileLink() {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.USER_ACCOUNT, query: { to: this.$route.fullPath } })
          .href;
      },
      userAddresses() {
        if (!this.isSignedIn) return [];
        return this.user.addresses.map(a =>
          Object.assign(a, { text: `${a.street}, ${a.city}. Landmark: ${a.landmark}` }));
      },
      user() {
        return this.$store.getters.getUser;
      },
      wishList() {
        return this.$store.getters.getWishList;
      },
      restaurants() {
        return this.$store.getters.getRestaurants;
      },
      wishListEmpty() {
        return isWishListEmpty(this.wishList);
      }
    },
    created() {
      // Load payment processor scripts
      let tag = document.createElement('script');
      tag.setAttribute('src', getPaystackScriptSrc());
      document.head.appendChild(tag);

      tag = document.createElement('script');
      tag.setAttribute('src', getSimplepayScriptSrc());
      document.head.appendChild(tag);
    },
    mounted() {
      this.isMobile = isMobile();
      /* eslint-disable no-undef */
      document.title = 'Checkout - FoodILike';
      this.order = { ...this.wishList };
    },
    methods: {
      removeItem(idx) {
        if (idx >= 0) this.$store.dispatch('deleteWishListItem', idx);
      },
      modifyItemQuantity({ tag, quantity }) {
        tag = Number(tag);
        quantity = Number(quantity);

        const item = Object.assign({ ...this.wishList.items[tag] }, { quantity });
        this.$store.dispatch('replaceWishListItem', { idx: tag, item });
      },
      itemPrice(item) {
        return (item.price + item.charges.reduce((sum, charge) => sum + charge.price, 0)) * item.quantity;
      },
      handlePayment() {
        if (!this.isSignedIn) {
          this.$router.push({ name: APP_CONSTANTS.ROUTES.SIGNIN, query: { to: this.$route.fullPath } });
        }

        if (!this.address) {
          this.showNoticeModal('Select your delivery address');
          return;
        }
        if (this.hasPaid) {
          this.publishOrder();
          return;
        }

        // Add other order details
        this.order.user_id = this.user.id;
        this.order.delivery_country = this.address.country;
        this.order.delivery_city = this.address.city;
        this.order.delivery_street = this.address.street;
        this.order.order_date = Math.floor(new Date().getTime());
        // Update transaction id
        this.order.transaction_id = this.order.order_date.toString(16).toUpperCase();

        // If wallet balance can cover this order, use that
        if (this.user.wallet >= this.order.total) {
          // Deduct balance from wallet
          this.$store.dispatch('updateWallet', { id: this.user.id, amount: this.order.total, action: 'decrement' })
            .then(({ success }) => {
              if (success === APP_CONSTANTS.OK) {
                this.hasPaid = true;
                this.publishOrder();
              }
              // If we fail to deduct from wallet, collect using payment processors.
            });
          return;
        }

        if (this.order.total < 2500) {
          this.payWithPaystack();
        } else {
          this.payWithSimplePay();
        }
      },
      payWithSimplePay() {
        SimplePay.configure({
          token: (ref) => {
            this.hasPaid = true;
            this.order.meta = { ref, token: generateTransactionToken(), processor: 'simplepay' }; // We have our own trx id, so stash this here
            this.publishOrder();
          },
          key: getSimplePayPublicKey(), // place your api key. Demo: test_pu_*. Live: pu_*
          image: 'http://35.177.239.64/static/logos/FoodILike-red.svg' // TODO: Change to domain name
        }).open(SimplePay.CHECKOUT, {
          email: this.user.email,
          phone: +2348036737847, // NREQUIR
          description: 'FoodILike order checkout',
          address: 'NOT REQUIRED',
          currency: this.order.currency,
          amount: Number(this.order.total) * 100
        });
      },
      payWithPaystack() {
        const token = generateTransactionToken();

        PaystackPop.setup({
          key: getPaystackPublicKey(),
          email: this.user.email,
          amount: Number(this.order.total) * 100,
          ref: token,
          callback: ({ reference }) => {
            if (reference !== token) {
              this.showNoticeModal('Incorrect result returned from payment');
              return;
            }
            this.hasPaid = true;
            this.order.meta = { ref: reference, token: reference, processor: 'paystack' };
            this.publishOrder();
          },
          onClose: () => {
            if (!this.hasPaid) this.busy = false; // no-op
          }
        }).openIframe();
      },
      publishOrder() {
        if (!this.hasPaid) {
          return;
        }
        this.order.status = APP_CONSTANTS.ORDER_STATUS.PENDING;
        this.busy = true;
        this.$store.dispatch('saveOrder', this.order)
          .then(({ success, data }) => {
            if (success === APP_CONSTANTS.FAILED) {
              this.showNoticeModal(`An error occurred while processing your order. \n
                Please contact us. The transaction id is ${this.order.transaction_id}`);
            } else {
              this.showNoticeModal('Order acknowledged. Will be delivered to you shortly.');
              this.$store.dispatch('deleteWishList');
              // Learn where users go first
              // this.$router.push({ name: APP_CONSTANTS.ROUTES.MENU });
            }
            return success;
          }).then((success) => {
            this.busy = false;
            if (success !== APP_CONSTANTS.FAILED) {
              this.hasPaid = false;
              this.order = {};
            }
          });
      },
      showNoticeModal(msg) {
        this.$refs.msgModal.show(msg);
      }
    }
  };
</script>
<style>
  .checkout-page * {
    color: #666;
  }

  .checkout-page .tab .nav-item a,
  .restaurant-link,
  .restaurant-link:hover,
  .restaurant-link:focus {
    color: #666 !important;
  }

  .checkout-page  .nav-tabs {
    border-color: #FFF;
  }

  .checkout-page  .nav-tabs a {
    text-transform: uppercase;
    font-weight: bold;
  }

  /* Customize multiselect */
  .checkout-page .multiselect .multiselect__tag {
    background-color: #E46055;
  }

  .checkout-page .up-2 {
    z-index: 2;
  }

  .checkout-page .multiselect .multiselect__option--highlight,
  .checkout-page .multiselect .multiselect__option--highlight::after {
    background: #E46055;
  }

  .checkout-page .multiselect .multiselect__tag-icon:focus,
  .checkout-page .multiselect .multiselect__tag-icon:hover {
    background: #E46055;
  }

  .checkout-page .nav-link:focus,
  .checkout-page .nav-link.active {
    color: #E46055 !important;
    border-color: #FFF #FFF #E46055;
  }

  .checkout-page .nav-link {
    border-color: #FFF;
    color: #666;
  }

  .checkout-page .red-text {
    color: #E46055;
  }

  .checkout-page  .form-control.red-outline:focus,
  .checkout-page  .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }
</style>
