<template>
  <div class="container forgot-password-page">
    <div class="middle">
      <div class="inner">
        <div class="row">
          <div class="col">
            <logo></logo>
          </div>
        </div>
        <form @submit.stop.prevent="forgotPassword">
          <div class="row">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
              <div class="input-group">
                <b-form-input class="red-outline" v-model="email" type="email" placeholder="Email"></b-form-input>
                <span class="input-group-btn">
                  <fil-button submit=true text="Send reset link" colour="red"></fil-button>
                </span>
              </div>
              <input type="submit" style="display: none;">
            </div>
            <div class="col"></div>
          </div>
        </form>
        <account-links :signin="true" :forgot="false" :signup="true" :admin="false"></account-links>
      </div>
    </div>
    <msg-modal ref="msgModal"></msg-modal>
  </div>
</template>

<script>
import FilButton from '@/components/FilButton';
import AccountLinks from '@/components/AccountLinks';
import Logo from '@/components/SigninLogo';
import MsgModal from '@/components/MsgModal';

export default {
  name: 'fil-forgot-password-page',
  components: {
    FilButton,
    AccountLinks,
    Logo,
    MsgModal
  },
  data() {
    return {
      email: ''
    };
  },
  mounted() {
    document.title = 'Forgot password - FoodILike'; // eslint-disable no-undef
  },
  methods: {
    forgotPassword() {
      this.$store.dispatch('forgotPassword', { email: this.email });
      this.email = '';
      this.showNoticeModal('A reset link has been sent to your mailbox');
    },
    showNoticeModal(msg) {
      this.$refs.msgModal.show(msg);
    }
  }
};
</script>
<!--red #E46055-->
<!--yellow #FFF074-->
<!--dark #666-->
<style>
  .forgot-password-page.container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFF074;
  }

  .forgot-password-page .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .forgot-password-page .inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .forgot-password-page .form-control {
    color: #666;
  }

  .forgot-password-page .form-control.yellow-outline:focus,
  .forgot-password-page .custom-select.yellow-outline:focus {
    color: #666;
    border-color: #FFF074;
  }
  .forgot-password-page .form-control.red-outline:focus,
  .forgot-password-page .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .forgot-password-page div.alert {
    color: #fff;
    background-color: #E46055;
  }
</style>
