<template>
  <div class="container w-100 img-bg">
    <div class="row content">
      <div class="col">
        <h2 class="font-weight-bold">No food here.</h2>
        <button-link colour="red" text="Menu" :href="menuLink"></button-link>
      </div>
    </div>
  </div>
</template>
<script>
  import ButtonLink from '@/components/ButtonLink';
  import { APP_CONSTANTS } from '@/constants';

  export default {
    name: 'fil-not-found',
    components: {
      ButtonLink
    },
    data() {
      return {
        menuLink: this.$router.resolve({ name: APP_CONSTANTS.ROUTES.MENU }).href
      };
    },
    mounted() {
      /* eslint-disable no-undef */
      document.title = 'Food not found - FoodILike';
    }
  };
</script>
<style>
  .img-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(/static/images/404.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }

  .content {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: 40px;
    padding: 0 20px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
</style>
