<template>
  <div class="container-fluid front-page">
    <top-bar></top-bar>
    <banner></banner>
    <fil-footer></fil-footer>
    <!--<div class="row mt-4">-->
      <!--<div class="col">-->
        <!--<h2 class="font-weight-bold text-uppercase">-->
          <!--Get served in 2 steps-->
        <!--</h2>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row mt-3 justify-content-center">-->
      <!--&lt;!&ndash;style="box-shadow: 3px 3px 20px 2px #666;"&ndash;&gt;-->
      <!--<div class="col hidden-sm-down"></div>-->
      <!--<div class="col rounded" >-->
          <!--<img-->
            <!--src="/static/icons/burger/burger-red.svg"-->
            <!--width="100px" height="100px" alt="FoodILike burger icon"-->
            <!--class="card-img mt-2">-->
          <!--<p>Find the food you like.</p>-->
      <!--</div>-->
      <!--<div class="col rounded">-->
        <!--<img-->
          <!--src="/static/icons/order/order-red.svg"-->
          <!--width="100px" height="100px" alt="FoodILike order icon"-->
          <!--class="card-img mt-2">-->
        <!--<p>Get food delivered to your doorstep fast.</p>-->
      <!--</div>-->
      <!--<div class="col hidden-sm-down"></div>-->
    <!--</div>-->
  </div>
</template>
<script>
  import TopBar from '@/components/TopBar';
  import Banner from '@/components/FrontPageBanner';
  import FilFooter from '@/components/Footer';
  import { fetchNecessaries } from '@/constants';

  export default {
    name: 'fil-front-page',
    components: {
      TopBar,
      Banner,
      FilFooter
    },
    mounted() {
      fetchNecessaries(this.$store);
      /* eslint-disable no-undef */
      document.title = 'Get food delivered to you - FoodILike';

      const topBar = document.querySelector('.top-bar');
      const banner = document.querySelector('.front-page-banner');
      const windowHeight = window.innerHeight;

      // Set banner height
      banner.style.height = `${windowHeight - topBar.clientHeight}px`;
    }
  };
</script>
<style>
  .front-page.red-background {
    background-color: #E46055;
  }

  .front-page h1, .front-page h4 {
    color: #FFF !important;
  }
</style>
