<template>
  <div class="container-fluid item">
    <top-bar></top-bar>
    <div class="row mt-1">
      <div class="col">
        <modal ref="modal"></modal>
      </div>
    </div>
    <div class="row mt-3 content">
      <div class="col">
        <div class="row mt-3">
          <div class="col-md-4 col-sm-12 mb-3">
            <div class="text-center">
              <item-img
                :name="item.name"
                :photo="item.photo"></item-img>
              <p>Food may differ from picture</p>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            <h4 class="text-uppercase font-weight-bold text-left">{{ selectedName }}</h4>
            <h6 class="text-uppercase red-text text-left mt-4" v-if="selectedDescription.length">Description</h6>
            <p class="text-left" v-if="selectedDescription.length">{{ selectedDescription }}</p>
            <p class="text-left">
              Restaurant:
              <a :href="restaurant.link" class="restaurant-link">
                <span class="text-uppercase">
                  {{ restaurant.name }} <small v-if="!restaurant.isOpen">(Closed at the moment)</small>
                </span>
              </a>
            </p>
            <div class="row mt-3 mb-4">
              <div class="col-md-6 col-sm-12 text-left" v-for="opt in options" :key="opt.index">
                <label class="custom-control custom-radio">
                  <input @change="handleSelection(opt.index)" :checked="selectedIndex === opt.index" name="options" type="radio" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{ opt.name }} - <price :currency="order.currency" :amount="opt.price"></price></span>
                </label>
              </div>
            </div>
            <div class="row mt-3 mb-4">
              <div class="col">
                <div class="row align-items-left mt-3">
                  <div class="col">
                    <p class="text-left">
                        <span class="h4 mr-2" v-if="restaurant.isOpen">
                        Quantity
                      </span>
                      <qty-selector
                        v-if="restaurant.isOpen"
                        @new_qty="handleQuantityChange"
                        :class="{'mb-2': true, 'mr-2': true}"
                        :min-value="1"
                        :initial-qty="quantity"></qty-selector>
                        &emsp;
                      <span class="h4" v-if="restaurant.isOpen">
                        <price :currency="order.currency" :amount="itemTotalPrice"></price>
                      </span>
                    </p>
                    <fil-button
                      v-if="restaurant.isOpen"
                      class="yellow-text"
                      colour="red"
                      text="Add to bag"
                      @click.native="addItemToBag(item.id)"></fil-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2 mb-2" v-if="extraItems.length">
      <div class="col-sm-12 text-left">
        <h5>Extras:</h5>
      </div>
      <div class="col-sm-6 col-md-2 extra-item" v-for="item in extraItems" :key="item.id">
        <item-extra
          :restaurant-open="restaurant.isOpen"
          :item="item"
          @add_item_extra="addExtraToBag"></item-extra>
      </div>
    </div>
    <hr v-if="similarItems.length">
    <div class="row mt-2 mb-2" v-if="similarItems.length">
      <div class="col-sm-12 text-left">
        <h5>Similar items:</h5>
      </div>
      <div class="col-sm-6 col-md-2 similar-item" v-for="item in similarItems" :key="item.id">
        <menu-entry :item="item" :plain="true"></menu-entry>
      </div>
    </div>
    <fil-footer></fil-footer>
  </div>
</template>
<script>
  import FilButton from '@/components/FilButton';
  import ItemImg from '@/components/FilItemImg';
  import Modal from '@/components/MsgModal';
  import TopBar from '@/components/TopBar';
  import FilFooter from '@/components/Footer';
  import Price from '@/components/Price';
  import MenuEntry from '@/components/MenuEntry';
  import ItemExtra from '@/components/ItemExtra';
  import QtySelector from '@/components/QuantitySelector';
  import {
    APP_CONSTANTS,
    isRestaurantOpen,
    fetchNecessaries
  } from '@/constants';

  export default {
    name: 'fil-item',
    components: {
      FilButton,
      TopBar,
      FilFooter,
      Modal,
      QtySelector,
      ItemImg,
      Price,
      MenuEntry,
      ItemExtra
    },
    data() {
      return {
        selectedIndex: 0,
        quantity: 1,
        order: {
          id: '',
          user_id: '',
          items: [],
          transaction_id: '',
          payment_type: 'pbd',
          currency: 'NGN',
          delivery_fee: 0,
          subtotal: 0,
          total: 0,
          delivery_street: '',
          delivery_city: '',
          delivery_country: '',
          status: 'checkout',
          instructions: ''
        }
      };
    },
    computed: {
      item() {
        const item = this.items.find(i => i.id === this.$route.params.id);
        if (!item) { // Came up short.
          // If we have items, then this might be a 404.
          if (this.items.length) {
            this.$router.push({ name: APP_CONSTANTS.ROUTES.NOT_FOUND });
          } else {
            fetchNecessaries(this.$store);
          }

          return {
            name: '',
            id: '',
            restaurant_id: '',
            tags: []
          }; // Return a 'safe' value.
        }
        return item;
      },
      items() {
        return this.$store.getters.getItems;
      },
      options() {
        const opts = this.item.variants.map((v, index) => Object.assign(v, { index: index + 1 }));
        opts.unshift({ name: this.item.name, price: this.item.price, description: this.item.description, index: 0 });
        return opts;
      },
      selectedOption() {
        return this.options[this.selectedIndex];
      },
      selectedName() {
        return this.selectedOption ? this.selectedOption.name : 'error';
      },
      selectedDescription() {
        return this.selectedOption ? this.selectedOption.description : 'error';
      },
      selectedPrice() {
        return this.selectedOption ? this.selectedOption.price : 'error';
      },
      itemTotalPrice() {
        return this.selectedPrice * this.quantity;
      },
      similarItems() {
        return this.items
          .filter(f => f.name.toLowerCase() === this.item.name.toLowerCase() && f.id !== this.item.id)
          .map(f => Object.assign(f,
            { restaurant: this.restaurants.find(r => r.id === f.restaurant_id).name }));
      },
      extraItems() {
        const itemTags = this.item.tags.map(t => t.name);
        // Find items with the tag 'Extra' &&
        // belonging to the same restaurant as the item &&
        // having at least one of the same tags as this.item
        return this.items
        .filter(i => i.restaurant_id === this.item.restaurant_id &&
          i.tags.some(t => t.name.toLowerCase() === 'extra') &&
          i.tags.some(t => itemTags.indexOf(t.name) !== -1));
      },
      restaurants() {
        return this.$store.getters.getRestaurants;
      },
      restaurant() {
        let rest = this.restaurants.find(r => r.id === this.item.restaurant_id);
        if (!rest) return {};
        rest = { ...rest };
        rest.link = this.$router.resolve({ name: APP_CONSTANTS.ROUTES.REST_SHOW, params: { id: rest.id } }).href;
        rest.isOpen = isRestaurantOpen(rest);
        return rest;
      },
      checkoutHref() {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.CHECKOUT }).href;
      }
    },
    created() {
      this.facebookMetas();
      this.twitterMetas();
    },
    mounted() {
      /* eslint-disable no-undef */
      document.title = `${this.item.name} - FoodILike`;

      // Remove nav tabs href, and add clickable class while we're at it
      setTimeout(() => {
        const links = document.querySelectorAll('.nav-tabs .nav-item > .nav-link');
        links.forEach((l) => {
          l.removeAttribute('href');
          l.classList += ' clickable';
        });
      }, 2000);

      // Ensure footer appears at the bottom of the page.
      const topBar = document.querySelector('.top-bar');
      // const bottomBar = document.querySelector('.bottom-bar');
      const item = document.querySelector('.item');
      const windowHeight = window.innerHeight;

      if (windowHeight > item.clientHeight) {
        item.style.height = `${windowHeight - topBar.clientHeight}px`;
      }
    },
    methods: {
      facebookMetas() {
        /* eslint-disable no-undef */
        const origin = window.location.origin;
        const typeMeta = document.createElement('meta');
        typeMeta.setAttribute('property', 'og:type');
        typeMeta.setAttribute('content', 'website');

        const urlMeta = document.createElement('meta');
        urlMeta.setAttribute('property', 'og:url');
        urlMeta.setAttribute('content', window.location.href);

        const titleMeta = document.createElement('meta');
        titleMeta.setAttribute('property', 'og:title');
        titleMeta.setAttribute('content', this.item.name);

        const descMeta = document.createElement('meta');
        descMeta.setAttribute('property', 'og:description');
        descMeta.setAttribute('content', this.item.description);

        const photoMeta = document.createElement('meta');
        photoMeta.setAttribute('property', 'og:image');
        photoMeta.setAttribute('content', `${origin}/static/images/items/${this.item.photo}`);


        document.head.appendChild(typeMeta);
        document.head.appendChild(urlMeta);
        document.head.appendChild(titleMeta);
        document.head.appendChild(descMeta);
        document.head.appendChild(photoMeta);
      },
      twitterMetas() {
        /* eslint-disable no-undef */
        const origin = window.location.origin;
        const typeMeta = document.createElement('meta');
        typeMeta.setAttribute('name', 'twitter:card');
        typeMeta.setAttribute('content', 'summary_large_image');

        const domainMeta = document.createElement('meta');
        domainMeta.setAttribute('name', 'twitter:domain');
        domainMeta.setAttribute('value', origin);

        const urlMeta = document.createElement('meta');
        urlMeta.setAttribute('name', 'twitter:url');
        urlMeta.setAttribute('value', window.location.href);

        const titleMeta = document.createElement('meta');
        titleMeta.setAttribute('name', 'twitter:title');
        titleMeta.setAttribute('value', this.item.name);

        const descMeta = document.createElement('meta');
        descMeta.setAttribute('name', 'twitter:description');
        descMeta.setAttribute('value', this.item.description);

        const photoMeta = document.createElement('meta');
        photoMeta.setAttribute('name', 'twitter:image');
        photoMeta.setAttribute('content', `${origin}/static/images/items/${this.item.photo}`);

        document.head.appendChild(typeMeta);
        document.head.appendChild(domainMeta);
        document.head.appendChild(urlMeta);
        document.head.appendChild(titleMeta);
        document.head.appendChild(descMeta);
        document.head.appendChild(photoMeta);
      },
      hasDescription(item) {
        return item.description && !!item.description.length;
      },
      handleSelection(idx) {
        this.selectedIndex = idx;
      },
      handleQuantityChange({ tag, quantity }) {
        this.quantity = quantity;
      },
      addExtraToBag({ item, quantity }) {
        if (!item || !quantity) return;

        item.restaurant = { id: this.restaurant.id, name: this.restaurant.name };
        item.quantity = quantity;

        this.order.items.push(item);
        this.order.user_id = this.$store.getters.getUser.id;
        this.$store.dispatch('saveWish', { ...this.order })
        .then(() => {
          this.order.items = [];
        });

        const msg = `
        Food added to bag.
        <a href="${this.checkoutHref}" class="text-underline">Checkout now</a> or click the bag icon to checkout later.
        `;
        this.showNotice({ msg });
      },
      addItemToBag(itemId) {
        if (!itemId) return;

        const item = { ...this.options[this.selectedIndex] };
        item.id = itemId;
        item.restaurant = { id: this.restaurant.id, name: this.restaurant.name };
        item.currency = this.order.currency;
        item.quantity = this.quantity;
        item.charges = JSON.parse(JSON.stringify(this.item.charges)); // copy

        this.order.items.push(item);
        this.order.user_id = this.$store.getters.getUser.id;
        this.$store.dispatch('saveWish', { ...this.order })
        .then(() => {
          this.order.items = [];
        });

        const msg = `
        Food added to bag.
        <a href="${this.checkoutHref}" class="text-underline">Checkout now</a> or click the bag icon to checkout later.
        `;
        this.showNotice({ msg });
      },
      showNotice({ msg }) {
        this.$refs.modal.show(msg);
      }
    }
  };
</script>
<style>
  .item .tab .nav-item a,
  .item span,
  .item p,
  .item h4,
  .restaurant-link,
  .restaurant-link:hover,
  .restaurant-link:focus {
    color: #666 !important;
  }

  .item .form-control.red-outline:focus {
    border-color: #E46055;
  }

  .item .restaurant-link {
    text-decoration: underline;
  }

  .item  .nav-tabs {
    border-color: #FFF;
  }
  .item  .nav-tabs a {
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
  }

  .item .nav-link:focus,
  .item .nav-link.active {
    color: #E46055 !important;
    border-color: #FFF #FFF #E46055;
  }

  .item .nav-link {
    border-color: #FFF;
    color: #666;
  }

  @media (max-width: 900px) {
    .item .similar-item,
    .item .extra-item {
      width: 50%;
    }
  }
</style>
