<template>
  <div class="container-fluid menu-page">
    <top-bar></top-bar>
    <div class="mt-3"></div> <!-- For spacing-->
    <!-- <div class="row mt-3">
      <div class="col">
        <h2 class="font-weight-bold text-uppercase">
          Everything starts with a search
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-sm-6">
        <h4>
          Get Something to Eat
        </h4>
      </div>
      <div class="col"></div>
    </div> -->
    <food-search
      :initial-city="searchParams.city"
      :initial-text="searchParams.text"
      input-outline="red" @update="updateSearchParams"></food-search>

    <div class="row mt-2">
      <div class="col"></div>
      <div class="col-md-6 col-sm-12">
        <multiselect
          class="up-2"
          v-model="selectedTags"
          :options="tags"
          label="name"
          :multiple="true"
          :hide-selected="true"
          placeholder="Tags"
          track-by="id" />
      </div>
      <div class="col"></div>
    </div>

    <div class="row mt-2" v-if="minPrice !== 0 && maxPrice !== 0">
      <div class="col"></div>
      <div class="col-md-6 col-sm-12">
        <span>What's your price range?</span>
        <price-range
          currency="NGN"
          :min-price="minPrice"
          :max-price="maxPrice"
          :disabled="minPrice === 0 && maxPrice === 0"
          @price_change="updateSearchParams"></price-range>
      </div>
      <div class="col"></div>
    </div>

    <div class="row mt-3 content" v-if="items.length > 0">
      <div class="col-sm-6 col-md-2 item-container" v-for="item in items" :key="item.id">
        <menu-entry :show-restaurant="true" :item="item"></menu-entry>
      </div>
    </div>

    <div class="row mt-5 w-100 content" v-else>
      <div class="col"></div>
      <div class="col">
        <h2 class="font-weight-bold" style="font-size: 6rem; color: #EEE;">Empty</h2>
      </div>
      <div class="col"></div>
    </div>
    <fil-footer></fil-footer>
  </div>
</template>
<script>
  import TopBar from '@/components/TopBar';
  import FilFooter from '@/components/Footer';
  import FoodSearch from '@/components/FoodSearch';
  import MenuEntry from '@/components/MenuEntry';
  import PriceRange from '@/components/PriceRange';
  import Multiselect from 'vue-multiselect';

  export default {
    name: 'fil-menu-page',
    components: {
      TopBar,
      FilFooter,
      FoodSearch,
      MenuEntry,
      PriceRange,
      Multiselect
    },
    data() {
      return {
        searchParams: {
          text: this.$route.query.search || '',
          city: this.$route.query.city || 'Abuja',
          minPrice: 0,
          maxPrice: 0
        },
        selectedTags: [],
        options: []
      };
    },
    watch: {
      /* eslint-disable object-shorthand */
      'searchParams.minPrice'(newVal) {
        this.searchParams.minPrice = Math.max(Number(newVal), this.minPrice);
      },
      'searchParams.maxPrice'(newVal) {
        this.searchParams.maxPrice = Math.min(Number(newVal), this.maxPrice);
      },
      minPrice(val) {
        this.searchParams.minPrice = Number(val);
      },
      maxPrice(val) {
        this.searchParams.maxPrice = Number(val);
      }
    },
    computed: {
      tags() {
        // Ignore the 'Extra' tag
        return this.$store.getters.getTags.filter(t => t.name.toLowerCase() !== 'extra');
      },
      matchedRestaurants() {
        return this.$store.getters.getRestaurants
          .filter(r => r.city.toLowerCase() === this.searchParams.city.toLowerCase() && r.active);
      },
      items() {
        const items = this.matchedItems
          .filter(f => f.price >= this.searchParams.minPrice && f.price <= this.searchParams.maxPrice)
          .reduce((acc, f) => {
            const dup = acc.find(g => f.name.toLowerCase() === g.name.toLowerCase() && f.currency === g.currency);
            if (dup) { // Similar names, concat info
              dup.meta.num += 1;
              dup.meta.price.min = Math.min(dup.price, f.price);
              delete dup.meta.price.price;
            } else {
              const restaurant = this.matchedRestaurants.find(r => r.id === f.restaurant_id);
              const name = restaurant ? restaurant.name : 'error';
              acc.push(Object.assign({ ...f }, { restaurant: name, meta: { num: 1, price: { price: f.price } } }));
            }
            return acc;
          }, []);
        this.checkAndReload(items); // reload restaurants if necessary.
        return items;
      },
      minPrice() {
        return !this.matchedItems.length ? 0 :
          this.matchedItems.reduce((min, item) => Math.min(min, item.price), 1000000);
      },
      maxPrice() {
        return !this.matchedItems.length ? 0 :
          this.matchedItems.reduce((max, item) => Math.max(max, item.price), 0);
      },
      storeItems() {
        return this.$store.getters.getItems;
      },
      matchedItems() {
        // Don't load items having the tag 'Extra'
        const fromStore = this.storeItems.filter(item =>
          item.tags.every(t => t.name.toLowerCase() !== 'extra'));
        // If no search text was provided and no tags chosen, return everything
        if (!this.searchParams.text.length && !this.selectedTags.length) return fromStore;

        // Find tags that matched the entered search text
        // Combine with possibly selected tags, removing duplicates of course...
        const tagSet = this.tags
          .filter(tag => this.searchParams.text.length &&
            tag.name.toLowerCase().indexOf(this.searchParams.text.toLowerCase()) !== -1)
          .concat(this.selectedTags)
          .map(t => t.name)
          .filter((item, index, inputArray) => inputArray.indexOf(item) === index);

        // Pick only items that have selected tags
        // Also, only allow items belonging to one of the matched restaurants
        // and both the item & restaurant must be active
        const tagItems = fromStore
          .filter(f => f.active && f.tags.some(t => tagSet.indexOf(t.name) !== -1))
          .filter(f => this.matchedRestaurants.some(r => r.id === f.restaurant_id && r.active));

        const textItems = fromStore.filter(f => this.searchParams.text.length &&
          f.name.toLowerCase().indexOf(this.searchParams.text.toLowerCase()) !== -1);
        // Return a combination of both results
        return tagItems.concat(textItems);
      }
    },
    mounted() {
      /* eslint-disable no-undef */
      document.title = 'Menu - FoodILike';
      this.searchParams.minPrice = this.minPrice;
      this.searchParams.maxPrice = this.maxPrice;

      this.$store.dispatch('fetchItems') // Refresh store
      .then(() => {
        // Ensure footer appears at the bottom of the page.
        const topBar = document.querySelector('.top-bar');
        // const bottomBar = document.querySelector('.bottom-bar');
        const item = document.querySelector('.content');
        const windowHeight = window.innerHeight;

        if (windowHeight > item.clientHeight) {
          item.style.height = `${windowHeight - topBar.clientHeight}px`;
        }
      });
    },
    methods: {
      checkAndReload(items) {
        if (items.some(i => i.restaurant === 'error')) {
          this.$store.dispatch('fetchRestaurants');
        }
      },
      updateSearchParams({ minPrice = this.searchParams.minPrice, maxPrice = this.searchParams.maxPrice,
        city = this.searchParams.city, text = this.searchParams.text }) {
        this.searchParams = Object.assign(this.searchParams, { minPrice, maxPrice, city, text });
      }
    }
  };
</script>
<style>
  .menu-page {
    background-color: #FFF;
    color: #666;
  }

  .menu-page .form-control {
    color: #666;
  }
  .menu-page .form-control.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .menu-page .min-price {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .menu-page .max-price {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
  /* Customize multiselect */
  .menu-page .multiselect .multiselect__tag {
    background-color: #E46055;
  }

  .menu-page .up-2 {
    z-index: 2;
  }

  .menu-page .multiselect .multiselect__option--highlight,
  .menu-page .multiselect .multiselect__option--highlight::after {
    background: #E46055;
  }

  .menu-page .multiselect .multiselect__tag-icon:focus,
  .menu-page .multiselect .multiselect__tag-icon:hover {
    background: #E46055;
  }

  @media (max-width: 900px) {
    .menu-page .item-container {
      width: 50%;
    }
  }
</style>
