<template>
  <div class="container forgot-password-page">
    <div class="middle">
      <div class="inner">
        <div class="row">
          <div class="col">
            <logo></logo>
          </div>
        </div>
        <form @submit.stop.prevent="recoverPassword">
          <div class="row">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
              <password-input v-model="password" outline="red"></password-input>
              <input type="submit" style="display: none;">
            </div>
            <div class="col"></div>
          </div>
          <div class="row mt-1">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
              <fil-button submit=true text="Reset password" colour="red"></fil-button>
            </div>
            <div class="col"></div>
          </div>
        </form>
        <account-links :signin="true" :forgot="false" :signup="true" :admin="false"></account-links>
      </div>
    </div>
    <msg-modal ref="msgModal"></msg-modal>
  </div>
</template>

<script>
import FilButton from '@/components/FilButton';
import PasswordInput from '@/components/PasswordInput';
import AccountLinks from '@/components/AccountLinks';
import Logo from '@/components/SigninLogo';
import MsgModal from '@/components/MsgModal';
import { APP_CONSTANTS } from '@/constants';

export default {
  name: 'fil-forgot-password-page',
  components: {
    FilButton,
    AccountLinks,
    Logo,
    MsgModal,
    PasswordInput
  },
  data() {
    return {
      password: '',
      token: ''
    };
  },
  mounted() {
    /* eslint-disable no-undef */
    document.title = 'Password reset - FoodILike';
    // Set token from url
    this.token = this.$route.params.token;
  },
  methods: {
    recoverPassword() {
      this.$store.dispatch('resetPassword', { password: this.password, token: this.token })
        .then((res) => {
          if (res === APP_CONSTANTS.FAILED) {
            this.showNoticeModal('Your email could not be changed. This reset link may have expired.');
          } else { // Go to user page
            this.$router.replace({ name: APP_CONSTANTS.ROUTES.USER_ACCOUNT });
          }
        });
    },
    showNoticeModal(msg) {
      this.$refs.msgModal.show(msg);
    }
  }
};
</script>
<!--red #E46055-->
<!--yellow #FFF074-->
<!--dark #666-->
<style>
  .forgot-password-page.container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFF074;
  }

  .forgot-password-page .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .forgot-password-page .inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .forgot-password-page .form-control {
    color: #666;
  }

  .forgot-password-page .form-control.yellow-outline:focus,
  .forgot-password-page .custom-select.yellow-outline:focus {
    color: #666;
    border-color: #FFF074;
  }
  .forgot-password-page .form-control.red-outline:focus,
  .forgot-password-page .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .forgot-password-page div.alert {
    color: #fff;
    background-color: #E46055;
  }
</style>
