<template>
  <div class="container-fluid restaurant-page">
    <top-bar></top-bar>
    <div class="row mt-3">
      <div class="col"></div>
      <div class="col-10">
        <div class="row mt-3">
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="text-center">
              <item-img
                :name="restaurant.name"
                :photo="restaurant.photo"
                resource="restaurant"
                :width="300"
                :height="300"></item-img>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <h4 class="text-uppercase font-weight-bold text-left">{{ restaurant.name }}</h4>
            <p class="text-left mt-4" >
              <img src="/static/icons/location/location-red.svg" alt="" width="25" height="30">
              {{ restaurant.street }}, {{ restaurant.city }}
            </p>
            <p v-if="isRestaurantClosed"> >>Closed at the moment<< </p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <b-tabs>
              <b-tab title="Menu" active>
                <div class="row align-items-left mt-3">
                  <div class="col-sm-6 col-md-4" v-for="item in items" :key="item.id">
                    <menu-entry :item="item"></menu-entry>
                  </div>
                </div>
              </b-tab>
              <b-tab title="Reviews">
              </b-tab>
            </b-tabs>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</template>
<script>
  import TopBar from '@/components/TopBar';
  import ItemImg from '@/components/FilItemImg';
  import MenuEntry from '@/components/MenuEntry';
  import { isRestaurantOpen, fetchNecessaries, APP_CONSTANTS } from '@/constants';

  export default {
    name: 'fil-restaurant',
    components: {
      TopBar,
      ItemImg,
      MenuEntry
    },
    computed: {
      restaurant() {
        const r = this.$store.getters.getRestaurants.find(f => f.id === this.$route.params.id);
        if (!r) { // Came up short.
          // If we have restaurants, then this might be a 404.
          if (this.$store.getters.getRestaurants.length) {
            this.$router.push({ name: APP_CONSTANTS.ROUTES.NOT_FOUND });
          } else {
            fetchNecessaries(this.$store);
          }

          return {
            name: '',
            id: ''
          }; // Return a 'safe' value.
        }
        return r;
      },
      isRestaurantClosed() {
        return !isRestaurantOpen(this.restaurant);
      },
      items() {
        return this.$store.getters.getItems
          .filter(f => this.restaurant.id === f.restaurant_id)
          .reduce((acc, f) => {
            acc.push(Object.assign({ ...f }, 
              { restaurant: this.restaurant.name, meta: { num: 1, price: { price: f.price } } }));
            return acc;
          }, []);
      }
    },
    mounted() {
      /* eslint-disable no-undef */
      document.title = `${this.restaurant.name} - FoodILike`;
      // Remove nav tabs href, and add clickable class while we're at it
      setTimeout(() => {
        const links = document.querySelectorAll('.nav-tabs .nav-item > .nav-link');
        links.forEach((l) => {
          l.removeAttribute('href');
          l.classList += ' clickable';
        });
      }, 2000);
    }
  };
</script>
<style>
  .restaurant-page * {
    color: #666;
  }
  .restaurant-page .red-text {
    color: #E46055;
  }

  .restaurant-page .tab .nav-item a,
  .restaurant-link,
  .restaurant-link:hover,
  .restaurant-link:focus {
    color: #666 !important;
  }

  .restaurant-page  .nav-tabs {
    border-color: #FFF;
  }
  .restaurant-page  .nav-tabs a {
    text-transform: uppercase;
    font-weight: bold;
  }

  .restaurant-page .nav-link:focus,
  .restaurant-page .nav-link.active {
    color: #E46055 !important;
    border-color: #FFF #FFF #E46055;
  }

  .restaurant-page .nav-link {
    border-color: #FFF;
    color: #666;
  }
</style>
