<template>
  <div class="container user-sign-in-page">
    <div class="middle">
      <div class="inner">
        <div class="row mt-1">
          <div class="col">
            <b-alert variant="danger" dismissible :show="showAlert" @dismissed="showAlert=false">
              {{ msg }}
            </b-alert>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <logo></logo>
          </div>
        </div>
        <form @submit.stop.prevent="signin">
          <div class="row">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
              <b-form-input class="red-outline" v-model.trim="email" type="email" placeholder="Email"></b-form-input>
            </div>
            <div class="col"></div>
          </div>
          <div class="row mt-1">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
              <b-form-input class="red-outline" v-model.trim="password" type="password" placeholder="Password"></b-form-input>
            </div>
            <div class="col"></div>
          </div>
          <div class="row mt-1">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
              <fil-button submit=true text="Sign in" colour="red"></fil-button>
            </div>
            <div class="col"></div>
          </div>
        </form>
        <account-links :signin="false" :forgot="true" :signup="true" :admin="false"></account-links>
      </div>
    </div>
  </div>
</template>

<script>
import FilButton from '@/components/FilButton';
import AccountLinks from '@/components/AccountLinks';
import Logo from '@/components/SigninLogo';
import { APP_CONSTANTS, setUpEnvironment } from '@/constants';

export default {
  name: 'fil-user-signin-page',
  components: {
    FilButton,
    AccountLinks,
    Logo
  },
  data() {
    return {
      email: '',
      password: '',
      msg: "That username/password combination doesn't look right",
      showAlert: false
    };
  },
  mounted() {
    document.title = 'Sign in - FoodILike'; // eslint-disable no-undef
  },
  methods: {
    signin() {
      this.$store.dispatch('authenticate', { email: this.email, password: this.password })
      .then((res) => {
        if (res === APP_CONSTANTS.OK) {
          setUpEnvironment(this.$store);

          if (this.$route.query.to) {
            this.$router.replace(this.$route.query.to);
          } else {
            this.$router.push({ name: APP_CONSTANTS.ROUTES.USER_ACCOUNT });
          }
        } else {
          this.showAlert = true;
        }
      });
    }
  }
};
</script>
<!--red #E46055-->
<!--yellow #FFF074-->
<!--dark #666-->
<style>
  .user-sign-in-page.container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFF074;
  }

  .user-sign-in-page .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .user-sign-in-page .inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .user-sign-in-page .form-control {
    color: #666;
    font-family: CircularStd-Book;
  }

  .user-sign-in-page .form-control.yellow-outline:focus,
  .user-sign-in-page .custom-select.yellow-outline:focus {
    color: #666;
    border-color: #FFF074;
  }
  .user-sign-in-page .form-control.red-outline:focus,
  .user-sign-in-page .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .user-sign-in-page div.alert {
    color: #fff;
    background-color: #E46055;
  }
</style>
