<template>
  <div class="container-fluid user-account-page">
    <top-bar></top-bar>
    <div class="row mt-1">
      <div class="col">
        <flash ref="flash"></flash>
        <modal ref="modal"></modal>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <h1 class="text-left red-text">Good {{ periodTs | tsToPeriod }}, {{ firstName }}</h1>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4 col-sm-12">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title text-left">Wallet balance</h4>
                <h2 class="card-text text-left">
                  <price :currency="walletBalance.currency" :amount="walletBalance.amount"></price>
                </h2>
                <p class="text-bold text-left">
                  <a @click="$root.$emit('show::modal','walletModal')" class="clickable text-left font-weight-bold red-text">Add money</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title text-left">Addresses</h4>
                <p style="text-overflow: ellipsis;"
                    class="card-text text-left" v-for="addr in user.addresses" :key="addr.id">
                {{ addr.street }}, {{ addr.city }}, {{ addr.country }}. Landmark: {{ addr.landmark }}
                  <button
                    @click.stop.prevent="deleteAddress(addr)"
                    type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </p>
                <p class="text-bold text-left">
                  <a @click="$root.$emit('show::modal','addressModal')" class="clickable text-left font-weight-bold red-text">Add a new address</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col">
            <div class="card">
              <div class="card-block">
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control red-outline" v-model.trim="firstName" placeholder="First name">
                    <small v-if="errors.has('firstName')" class="help-block text-muted">First name should have between 2 to 20 characters<br></small>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col">
                    <input type="text" class="form-control red-outline" v-model.trim="lastName" placeholder="Last name">
                    <small v-if="errors.has('lastName')" class="help-block text-muted">Last name should have between 2 to 20 characters</small>
                  </div>
                </div>
                <div class="row mt-3 mb-3">
                  <div class="col">
                    <input type="phone" class="form-control red-outline" v-model.trim="phoneNumber" placeholder="Phone number">
                    <small v-if="errors.has('phoneNumber')" class="help-block text-muted">Provide a valid phone number<br></small>
                  </div>
                </div>
                <div class="row mt-3 mb-3">
                  <div class="col">
                    <input type="email" class="form-control red-outline" v-model.trim="email" placeholder="Email">
                    <small v-if="errors.has('email')" class="help-block text-muted">Provide a valid email<br></small>
                  </div>
                </div>
                <div class="row mt-3 mb-3">
                  <div class="col">
                    <password-input placeholder="New password" v-model.trim="password" outline="red" ref="pwdInput"></password-input>
                    <small v-if="errors.has('password')" class="help-block text-muted">Password should have between 6 to 100 characters</small>
                  </div>
                </div>
                <fil-button text="Update" colour="red" @click.native="updateUser"></fil-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="row mb-3">
          <div class="col">
            <h4 class="card-title text-left">Your orders</h4>
            <div class="card">
              <div class="list-group list-group-flush">
                <div class="list-group-item" v-for="order in orders" :key="order.id">
                  <div class="row mt-2 w-100">
                    <div class="col-3">
                      <span class="font-weight-bold text-uppercase h4">{{ orderDate(order.id) }}</span>
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <div class="col-12"
                             v-for="item in order.items" :key="`${item.food_item_id}-${item.restaurant_id}`">
                          <p>{{ item.name }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <span class="h4">
                        <price :currency="order.currency" :amount="order.total"></price>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <fil-footer></fil-footer>
    <b-modal
      id="addressModal"
      title="Add an address"
      @ok="addAddress"
      ok-title="Add">

      <form @submit.stop.prevent="submit">
        <b-form-input class="red-outline mb-1" type="text" placeholder="Street address" v-model.trim="address.street"></b-form-input>
        <b-form-input class="red-outline mb-1" type="text" placeholder="Landmark (compulsory)" v-model.trim="address.landmark"></b-form-input>
        <b-form-input class="red-outline mb-1" type="text" placeholder="City" v-model.trim="address.city"></b-form-input>
        <b-form-input class="red-outline mb-1" type="text" placeholder="Country" v-model.trim="address.country"></b-form-input>
      </form>
    </b-modal>
    <b-modal
      id="walletModal"
      title="Add money to your wallet"
      @ok="startPayment"
      :close-on-backdrop="false"
      ok-title="Add">

      <form @submit.stop.prevent="submit">
        <label>Amount(₦)</label>
        <b-form-input :rows="1" class="red-outline mb-1" type="number" placeholder="Amount" v-model.number="amount"></b-form-input>
      </form>
    </b-modal>
  </div>
</template>
<script>
  import TopBar from '@/components/TopBar';
  import FilFooter from '@/components/Footer';
  import Flash from '@/components/FlashMessage';
  import Modal from '@/components/MsgModal';
  import FilButton from '@/components/FilButton';
  import PasswordInput from '@/components/PasswordInput';
  import Price from '@/components/Price';
  import {
    APP_CONSTANTS,
    isSignedIn,
    getSimplePayPublicKey,
    getPaystackPublicKey,
    generateTransactionToken,
    getPaystackScriptSrc,
    getSimplepayScriptSrc
  } from '@/constants';
  import moment from 'moment-mini';

  export default {
    name: 'fil-user-account-page',
    components: {
      TopBar,
      FilFooter,
      FilButton,
      PasswordInput,
      Flash,
      Modal,
      Price
    },
    data() {
      return {
        periodTs: new Date().getTime(),
        amount: 0,
        password: '',
        firstName: '',
        lastName: '',
        email: '',
        phoneNumber: '',
        address: {
          id: '',
          street: '',
          landmark: '',
          city: 'Abuja',
          country: 'Nigeria'
        }
      };
    },
    created() {
      // Load payment scripts
      let tag = document.createElement('script');
      tag.setAttribute('src', getPaystackScriptSrc());
      document.head.appendChild(tag);

      tag = document.createElement('script');
      tag.setAttribute('src', getSimplepayScriptSrc());
      document.head.appendChild(tag);


      this.$validator.attach('first_name', 'required|min:2|max:20');
      this.$validator.attach('last_name', 'required|min:2|max:20');
      this.$validator.attach('email', 'required|email');
      this.$validator.attach('phone_number', 'min:11');
      this.$validator.attach('password', 'min:6|max:100');
    },
    watch: {
      amount(val) {
        this.amount = this.$options.filters.round(Number(val));
      }
    },
    mounted() {
      /* eslint-disable no-undef */
      document.title = 'My profile - FoodILike';
      this.firstName = this.user.first_name;
      this.lastName = this.user.last_name;
      this.email = this.user.email;
      this.phoneNumber = this.user.phone_number;
    },
    computed: {
      user() {
        if (!isSignedIn(this.$store)) {
          this.$router.replace({ name: APP_CONSTANTS.ROUTES.MENU });
        }
        return { ...this.$store.getters.getUsers.find(u => u.id === this.$store.getters.getUser.id) };
      },
      walletBalance() {
        return { currency: 'NGN', amount: this.user.wallet };
      },
      orders() {
        return [...this.$store.getters.getOrders]
          .filter(o => o.user_id === this.user.id)
          .sort((o1, o2) => new Date(o2.order_date) - new Date(o1.order_date)); // Most recent first
      }
    },
    methods: {
      clearAddress() {
        this.address.id = '';
        this.address.street = '';
        this.address.landmark = '';
        this.address.city = 'Abuja';
        this.address.country = 'Nigeria';
      },
      addAddress() {
        if (this.address.street.length &&
          this.address.city.length &&
          this.address.country.length &&
          this.isUnique(this.user.addresses, this.address)) {
          if (!this.address.landmark.length) {
            this.$refs.modal.show('Please add a landmark to your address');
            return;
          }

          const user = { ...this.user };
          user.addresses.push({ ...this.address });
          this.$store.dispatch('saveUser', user)
          .then(() => {
            // If they came from somewhere (e.g checkout), send them back.
            if (this.$route.query.to) {
              this.$router.replace(this.$route.query.to);
            }
          });
        }
        this.clearAddress();
      },
      isUnique(addresses, addr) {
        return addresses.every(address =>
          `${address.street}, ${address.city}, ${address.country}` !==
          `${addr.street}, ${addr.city}, ${addr.country}`);
      },
      deleteAddress(addr) {
        const user = { ...this.user };
        user.addresses = user.addresses.filter(address => this.isUnique([address], addr));
        this.$store.dispatch('saveUser', user);
      },
      updateUser() {
        const data = {
          first_name: this.firstName,
          last_name: this.lastName,
          email: this.email,
          phone_number: this.phoneNumber,
          password: this.password
        };

        this.$validator.validateAll(data)
        .then((valid) => {
          if (valid) {
            const revalidate = this.password.length !== 0;
            if (!revalidate) delete data.password; // Don't send if no new password was provided
            data.id = this.user.id;
            data.addresses = this.user.addresses;

            this.$store.dispatch('saveUser', data)
            .then(({ success }) => {
              if (success === APP_CONSTANTS.OK) {
                this.showNotice('Updated', false);
              } else {
                this.showNotice('Could not update', true);
              }
            }, (error) => {
              this.showNotice('Could not update', true);
            })
            .then(() => {
              this.password = '';
              this.$refs.pwdInput.clear();
            })
            .then(() => {
              // Refresh token if password was changed
              if (revalidate) {
                this.$store.dispatch('authenticate', { email: data.email, password: data.password });
              }
            });
          }
        });
      },
      startPayment() {
        if (this.amount < 2500) {
          this.payWithPaystack();
        } else {
          this.payWithSimplePay();
        }
      },
      payWithPaystack() {
        PaystackPop.setup({
          key: getPaystackPublicKey(),
          email: this.user.email,
          amount: this.amount * 100,
          ref: generateTransactionToken(),
          callback: ({ reference }) => {
            const data = {
              ref: reference,
              amount: this.amount,
              processor: 'paystack'
            };
            this.amount = 0;
            this.incrementWallet(data);
          }
        }).openIframe();
      },
      payWithSimplePay() {
        SimplePay.configure({
          token: (token) => {
            const data = {
              ref: token,
              amount: this.amount,
              processor: 'simplepay'
            };
            this.amount = 0;
            this.incrementWallet(data);
          },
          key: getSimplePayPublicKey(), // place your api key. Demo: test_pu_*. Live: pu_*
          image: 'http://35.177.239.64/static/logos/FoodILike-red.svg' // TODO: Change to domain name
        }).open(SimplePay.CHECKOUT, {
          email: this.user.email,
          phone: +2348036737847, // NREQUIR
          description: 'Wallet top up',
          address: 'NOT REQUIRED',
          currency: 'NGN',
          amount: this.amount * 100
        });
      },
      incrementWallet({ ref, amount, processor }) {
        const token = generateTransactionToken();
        this.$store.dispatch('fundWallet', { ref, amount, processor, id: this.user.id, token });
      },
      orderDate(id) {
        const order = this.orders.find(o => o.id === id);
        const ts = parseInt(order.transaction_id, 16);
        return moment(ts).format('MMM DD, YY');
      },
      showNotice(msg, isError) {
        if (isError) {
          this.$refs.flash.flashError(msg);
        } else {
          this.$refs.flash.flashSuccess(msg);
        }
      }
    }
  };
</script>
<style>
  .user-account-page .red-text, .user-account-page a {
    color: #E46055 !important;
  }

  .user-account-page  .form-control {
    color: #666;
  }

  .user-account-page  .form-control.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .user-account-page  .modal-footer button {
    border-radius: 20px;
    cursor: pointer;
  }
  .user-account-page  .modal-footer .btn-primary {
    border-color: #E46055;
    background-color: #E46055;
    box-shadow: 0 0 0 2px rgba(228, 96, 85, 0.5);
  }

  .user-account-page span,
  .user-account-page p,
  .user-account-page h4 {
    color: #666 !important;
  }

</style>
