<template>
  <div class="container user-sign-up-page">
    <div class="middle">
      <div class="inner">
        <div class="row mt-1">
          <div class="col">
            <b-alert variant="danger" dismissible :show="showAlert" @dismissed="showAlert=false">
              {{ errMsg }}
            </b-alert>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <logo></logo>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col-md-4 col-sm-6">
            <h4 class="red-text">{{ msg }}</h4>
          </div>
          <div class="col"></div>
        </div>
        <form @submit.stop.prevent="signup">
          <div class="row">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
              <div class="row mt-1">
                <div class="col">
                  <div class="input-group">
                    <input type="text" class="form-control red-outline" v-model.trim="user.first_name" placeholder="First name">
                    <input type="text" class="form-control red-outline" v-model.trim="user.last_name" placeholder="Last name">
                  </div>
                  <small v-if="errors.has('first_name')" class="help-block text-muted">First name should have between 2 to 20 characters<br></small>
                  <small v-if="errors.has('last_name')" class="help-block text-muted">Last name should have between 2 to 20 characters</small>
                </div>
              </div>
            </div>
            <div class="col"></div>
          </div>

          <div class="row mt-1">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
              <b-form-input class="red-outline" v-model.trim="user.phone_number" type="text" placeholder="Phone number"></b-form-input>
            </div>
            <div class="col"></div>
          </div>
          <div class="row mt-1">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
              <b-form-input class="red-outline" v-model.trim="user.email" type="email" placeholder="Email"></b-form-input>
              <small v-if="errors.has('email')" class="help-block text-muted">Email is invalid</small>
            </div>
            <div class="col"></div>
          </div>
          <div class="row mt-1">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
              <password-input v-model.trim="user.password" outline="red"></password-input>
              <small v-if="errors.has('password')" class="help-block text-muted">Password should have between 6 and 100 characters</small>
            </div>
            <div class="col"></div>
          </div>
          <div class="row mt-1">
            <div class="col"></div>
            <div class="col-md-4 col-sm-6">
              <fil-button submit=true text="Sign up" colour="red"></fil-button>
            </div>
            <div class="col"></div>
          </div>
        </form>
        <account-links :signin="true" :forgot="true" :signup="false" :admin="false"></account-links>
      </div>
    </div>
  </div>
</template>

<script>
import FilButton from '@/components/FilButton';
import PasswordInput from '@/components/PasswordInput';
import AccountLinks from '@/components/AccountLinks';
import Logo from '@/components/SigninLogo';
import { APP_CONSTANTS, setUpEnvironment } from '@/constants';

export default {
  name: 'fil-user-signin-page',
  components: {
    FilButton,
    AccountLinks,
    Logo,
    PasswordInput
  },
  data() {
    return {
      user: {
        id: '',
        email: '',
        first_name: '',
        last_name: '',
        phone_number: '',
        password: '',
        role: 'user',
        active: true
      },
      msg: 'We are excited to have you!',
      errMsg: 'Could not create account. Maybe that email has been taken?', // TODO Work on message precision
      showAlert: false
    };
  },
  created() {
    this.$validator.attach('id', '');
    this.$validator.attach('first_name', 'required|min:2|max:20');
    this.$validator.attach('last_name', 'required|min:2|max:20');
    this.$validator.attach('email', 'required|email');
    this.$validator.attach('phone_number', '');
    this.$validator.attach('role', 'required|in:admin,user,driver');
    this.$validator.attach('password', 'required|min:6|max:100');
    this.$validator.attach('active', '');
  },
  mounted() {
    document.title = 'Sign up - FoodILike'; // eslint-disable no-undef
  },
  methods: {
    signup() {
      this.$validator.validateAll(this.user)
      .then((valid) => {
        if (valid) {
          this.$store.dispatch('authenticate', this.user)
          .then((res) => {
            if (res === APP_CONSTANTS.OK) {
              setUpEnvironment(this.$store);

              if (this.$route.query.to) {
                this.$router.replace(this.$route.query.to);
              } else {
                this.$router.push({ name: APP_CONSTANTS.ROUTES.USER_ACCOUNT });
              }
            } else {
              this.showAlert = true;
            }
          });
        }
      });
    }

  }
};
</script>
<!--red #E46055-->
<!--yellow #FFF074-->
<!--dark #666-->
<style>
  .user-sign-up-page.container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFF074;
  }

  .user-sign-up-page .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .user-sign-up-page .inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .user-sign-up-page .form-control.red-outline:focus,
  .user-sign-up-page .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .user-sign-up-page .form-control {
    color: #666;
  }

  .user-sign-up-page .red-text {
    color: #E46055;
  }

  .user-sign-up-page div.alert {
    color: #fff;
    background-color: #E46055;
  }
</style>
