<template>
  <div class="row mt-1 account-links-widget">
    <div class="col"></div>
    <div class="col-md-4 col-sm-6">
      <div class="row">
        <div class="col" v-if="signup"><a :href="signupLink" class="grey-text">New here? Register</a></div>
        <div class="col" v-if="signin"><a :href="signinLink" class="grey-text">Registered? Sign in</a></div>
        <div class="col" v-if="forgot"><a :href="forgotLink" class="grey-text">Forgot your password?</a></div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</template>
<script>
  import { APP_CONSTANTS } from '@/constants';

  export default {
    name: 'fil-account-links',
    props: ['signin', 'signup', 'forgot', 'admin'],
    computed: {
      signupLink() {
        const to = this.$route.query.to;
        if (to) {
          return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.SIGNUP, query: { to } }).href;
        }
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.SIGNUP }).href;
      },
      forgotLink() {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.FORGOT_PASSWORD }).href;
      },
      signinLink() {
        const to = this.$route.query.to;
        const route = this.admin ? { name: APP_CONSTANTS.ROUTES.ADMIN_SIGNIN } : { name: APP_CONSTANTS.ROUTES.SIGNIN };
        if (to) {
          route.query = { to };
        }
        return this.$router.resolve(route).href;
      }
    }
  };
</script>
<style scoped>
  .account-links-widget .grey-text {
    color: #666;
  }
</style>
