<template>
  <div class="admin-top-bar row red-background">
    <div class="col">
      <b-navbar toggleable type="inverse" >

        <b-nav-toggle target="nav_collapse"></b-nav-toggle>

        <b-link class="navbar-brand" :href="home">
          <img
            src="/static/logos/FoodILike-light.svg"
            width="200" height="50"
            alt="FoodILike logo" class="clickable">
        </b-link>

        <b-collapse is-nav id="nav_collapse">

          <b-nav is-nav-bar>
            <b-nav-item :active="isActiveRoute(ref)" :key="ref.name" :href="ref.href"
                v-for="ref in routeRefs">
              {{ ref.name }}
            </b-nav-item>
            <b-nav-item key="reload" class="yellow-text" @click.stop.prevent="reloadStore">
              {{ 'Reload' }}
            </b-nav-item>
            <b-nav-item key="notif" :href="notifLink">
              {{ 'Notifications' }}
            </b-nav-item>
          </b-nav>

          <b-nav is-nav-bar class="ml-auto">
            <b-nav-item-dropdown right-alignment>
              <!-- Using text slot -->
              <template slot="text">
                <span style="font-weight: bold;">{{ email }}</span>
              </template>
              <b-dropdown-item :href="profileLink" class="clickable">Profile</b-dropdown-item>
              <b-dropdown-item @click.native="signout" class="clickable">Signout</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-nav>
        </b-collapse>
      </b-navbar>
    </div>
  </div>
</template>
<script>
  import { APP_CONSTANTS, getAdminMenu, handleSignout, setUpEnvironment } from '@/constants';
  import { audioMixin } from '@/lib/audioMixin';
  import { socketMixin } from '@/lib/socketMixin';

  export default {
    name: 'fil-admin-top-bar',
    mixins: [audioMixin, socketMixin],
    computed: {
      email() {
        return this.$store.getters.getUser.email;
      },
      home() {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.ADMIN_HOME }).href;
      },
      routeRefs() {
        return getAdminMenu().map(r => Object.assign(r, this.$router.resolve(r.location)));
      },
      profileLink() {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.USER_ACCOUNT }).href;
      },
      notifLink() {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.ADMIN_NOTIFS }).href;
      }
    },
    methods: {
      reloadStore() {
        setUpEnvironment(this.$store);
      },
      signout() {
        handleSignout(this.$store);
        this.$router.push({ name: APP_CONSTANTS.ROUTES.ADMIN_SIGNIN });
      },
      isActiveRoute(route) {
        return route.location.name === this.$route.name;
      }
    }
  };
</script>
<style>
  .admin-top-bar {
    background-color: #E46055;
  }

  .admin-top-bar .nav-item {
    cursor: pointer;
  }

  .admin-top-bar .admin-top-bar-dropdown, .admin-top-bar-dropdown > .dropdown-toggle {
    background-color: #E46055 !important;
    border-color: #E46055 !important;
    color: #fff !important;
  }

  .admin-top-bar .navbar-toggler:focus {
    outline: 5px auto #FFF074;
  }

  .admin-top-bar .yellow-text a {
    color: #FFF074 !important;
  }

  .admin-top-bar .dropdown-menu a:active,
  .admin-top-bar button.dropdown-item:active {
    background-color: #E46055;
    color: #FFF !important;
  }

  .admin-top-bar.red-background .navbar-inverse .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
</style>
