<template>
  <a :class="classList" :href="href">{{ text }}</a>
</template>

<script>
  export default {
    name: 'fil-button-link',
    props: ['text', 'colour', 'href'],
    computed: {
      classList() {
        const classes = 'btn btn-primary fil-button-link clickable';
        switch (this.colour) {
          case 'red': return `${classes} red-button`;
          case 'yellow': return `${classes} yellow-button`;
          default: return classes;
        }
      }
    }
  };
</script>

<style scoped>
  .fil-button-link {
    border-radius: 20px;
  }

  .fil-button-link.red-button {
    background-color: #E46055;
    border-color: #E46055;
    color: #FFF !important;
  }
  .fil-button-link.red-button:focus {
    box-shadow: 0 0 0 2px rgba(228, 96, 85, 0.5);
    color: #FFF !important;
  }

  .fil-button-link.yellow-button {
    background-color: #FFF074;
    border-color: #FFF074;
    color: #E46055 !important;
  }
  .fil-button-link.yellow-button:focus {
    box-shadow: 0 0 0 2px rgba(225, 240, 116, 0.5);
    color: #E46055 !important;
  }
</style>
