<template>
    <input :class="classList" type="submit" :value="text" v-if="submit">
    <button type="button" :class="classList" v-else>{{ text }}</button>
</template>

<script>
export default {
  name: 'fil-button',
  props: ['submit', 'text', 'colour'],
  computed: {
    classList() {
      const classes = 'btn btn-primary fil-round-button clickable';
      switch (this.colour) {
        case 'red': return `${classes} red-button`;
        case 'yellow': return `${classes} yellow-button`;
        default: return classes;
      }
    }
  }
};
</script>

<style scoped>
.fil-round-button {
  border-radius: 20px;
}
.fil-round-button.red-button {
  background-color: #E46055;
  border-color: #E46055;
}
.fil-round-button.red-button:focus {
  box-shadow: 0 0 0 2px rgba(228, 96, 85, 0.5);
}

.fil-round-button.yellow-button {
  background-color: #FFF074;
  border-color: #FFF074;
}
.fil-round-button.yellow-button:focus {
  box-shadow: 0 0 0 2px rgba(225, 240, 116, 0.5);
}
</style>
