<template>
  <button type="button" :class="classList">
    <img :src="icon" alt="" width="20px" height="20px">
  </button>
</template>

<script>
  export default {
    name: 'fil-icon-button',
    props: ['submit', 'icon', 'colour'],
    computed: {
      classList() {
        const classes = 'btn btn-primary fil-icon-button clickable';
        switch (this.colour) {
          case 'red': return `${classes} red-button`;
          case 'yellow': return `${classes} yellow-button`;
          default: return classes;
        }
      }
    }
  };
</script>

<style scoped>
  .fil-icon-button {
    border-radius: 20px;
  }
  .fil-icon-button.red-button {
    background-color: #E46055;
    border-color: #E46055;
  }
  .fil-icon-button.red-button:focus {
    box-shadow: 0 0 0 2px rgba(228, 96, 85, 0.5);
  }

  .fil-icon-button.yellow-button {
    background-color: #FFF074;
    border-color: #FFF074;
  }
  .fil-icon-button.yellow-button:focus {
    box-shadow: 0 0 0 2px rgba(225, 240, 116, 0.5);
  }
</style>
