<template>
  <img :src="src" :width="widthPx" :height="heightPx" class="rounded item__image" :alt="name">
</template>
<script>
  const debug = process.env.NODE_ENV !== 'production';

  export default {
    name: 'fil-item-img',
    props: {
      width: {
        type: Number,
        default: 150
      },
      height: {
        type: Number,
        default: 150
      },
      photo: {
        type: String,
        default: 'dummy-img.png'
      },
      resource: {
        type: String,
        default: 'item'
      },
      name: String
    },
    computed: {
      widthPx() {
        return `${this.width}px`;
      },
      heightPx() {
        return `${this.height}px`;
      },
      src() {
        const path = this.resource === 'item' ? 'items' : 'restaurants';
        const serverRoot = debug ? `http://${window.location.hostname}:4000` : `http://${window.location.host}`;
        return this.photo === '' ? '/static/images/dummy-img.png' : `${serverRoot}/img/${path}/${this.photo}`;
      }
    }
  };
</script>
