<template>
  <button type="button" :class="classList">
    <img :src="icon" alt="" width="20" height="20">
    Pay
  </button>
</template>

<script>
  export default {
    name: 'fil-pay-button',
    props: ['background'],
    computed: {
      classList() {
        const classes = 'btn btn-primary fil-pay-button text-uppercase font-weight-bold clickable';
        switch (this.background) {
          case 'red': return `${classes} red-button`;
          case 'yellow': return `${classes} yellow-button`;
          default: return classes;
        }
      },
      icon() {
        return this.background === 'red' ?
          '/static/icons/wallet/wallet-yellow.svg' : '/static/icons/wallet/wallet-red.svg';
      }
    }
  };
</script>

<style scoped>
  .fil-pay-button {
    border-radius: 20px;
  }
  .fil-pay-button.red-button {
    background-color: #E46055;
    border-color: #E46055;
    color: #FFF074;
  }
  .fil-pay-button.red-button:focus {
    box-shadow: 0 0 0 2px rgba(228, 96, 85, 0.5);
  }

  .fil-pay-button.yellow-button {
    background-color: #FFF074;
    border-color: #FFF074;
    color: #E46055;
  }
  .fil-pay-button.yellow-button:focus {
    box-shadow: 0 0 0 2px rgba(225, 240, 116, 0.5);
  }
</style>
