<template>
  <b-alert :variant="state" dismissible :show="showMsg" @dismissed="show=false" v-html="msg">
  </b-alert>
</template>
<script>
  export default {
    name: 'fil-flash-message',
    data() {
      return {
        showMsg: false,
        isError: false,
        msg: ''
      };
    },
    computed: {
      state() {
        return this.isError ? 'danger' : 'success';
      }
    },
    methods: {
      flashSuccess(msg) {
        this.isError = false;
        this.msg = msg;
        this.flash();
      },
      flashError(msg) {
        this.isError = true;
        this.msg = msg;
        this.flash();
      },
      flash() {
        this.showMsg = true;
        setTimeout(() => { this.showMsg = false; }, 7000); // Hide after 7s
      }
    }
  };
</script>
