<template>
  <div class="row food-search-component">
    <div class="col"></div>
    <div class="col-sm-12 col-md-6">
      <form @submit.stop.prevent="emitSubmit">
        <div class="input-group" v-if="!isMobile">
          <input disabled type="text" v-model.trim="city" :class="cityClassList" placeholder="City">
          <input type="text" v-model.trim="text" :class="foodClassList" placeholder="E.g Rice, Chinese...">
          <span class="input-group-btn">
            <icon-button @click.native="emitSubmit" icon="/static/icons/search/search-red.svg" colour="yellow"></icon-button>
          </span>
        </div>
        <div v-else>
          <b-form-input disabled :class="cityClassList" v-model.trim="city" type="text" placeholder="City"></b-form-input>
          <div class="input-group">
            <input type="text" v-model.trim="text" :class="foodClassList" placeholder="What would you like to eat?">
            <span :class="spanClassList">
              <icon-button @click.native="emitSubmit" icon="/static/icons/search/search-red.svg" colour="yellow"></icon-button>
            </span>
          </div>
        </div>
        <input type="submit" style="display: none;">
      </form>
    </div>
    <div class="col"></div>
  </div>
</template>
<script>
  import { isMobile } from '@/constants';
  import IconButton from './FilIconButton';

  export default {
    name: 'fil-food-search-component',
    components: {
      IconButton
    },
    props: ['initialText', 'initialCity', 'inputOutline'],
    data() {
      return {
        city: 'Abuja',
        text: '',
        cityClassList: '',
        foodClassList: '',
        spanClassList: '',
        timeout: 0,
        isMobile: false
      };
    },
    mounted() {
      this.isMobile = isMobile();
      if (this.initialText) this.text = this.initialText;
      if (this.initialCity) this.city = this.initialCity;

      let outline;

      switch (this.inputOutline) {
        case 'red':
          outline = 'red-outline';
          break;
        default:
          outline = 'yellow-outline';
      }
      this.spanClassList = `input-group-btn ${this.isMobile ? 'mt-1' : ''}`.trim();
      this.foodClassList = `form-control ${outline} ${this.isMobile ? 'mt-1' : ''}`.trim();
      this.cityClassList = `form-control ${outline} ${this.isMobile ? '' : 'location-input'}`.trim();
    },
    watch: {
      city(val) {
        this.emitUpdate();
      },
      text(val) {
        this.emitUpdate();
      }
    },
    methods: {
      emitUpdate() {
        if (this.timeout > 0) clearTimeout(this.timeout); // Clear any timeout that has not fired
        this.timeout = setTimeout(() => this.$emit('update', { city: this.city, text: this.text }), 400);
      },
      emitSubmit() {
        this.$emit('submit', { city: this.city, text: this.text });
      }
    }
  };
</script>
<style>
  .food-search-component .fil-round-button {
    color: #E46055;
  }

  .food-search-component .form-control.yellow-outline:focus,
  .food-search-component .custom-select.yellow-outline:focus {
    color: #666;
    border-color: #FFF074;
  }

  .food-search-component .form-control {
    color: #666;
  }

  .food-search-component .form-control.red-outline:focus,
  .food-search-component .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .food-search-component .location-input {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .food-search-component .input-group-btn.mt-1 > button {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
</style>
