<template>
  <div :class="bottomBarClassList">
    <div class="col-sm-12">
      <b-navbar toggleable type="inverse">
          <b-nav is-nav-bar >
            <b-nav-item
              :class="{'yellow-text': !signedIn, 'link': true}"
              v-b-modal="ref.modal_id"
              :key="ref.name" v-for="ref in links">
              {{ ref.name }}
            </b-nav-item>
          </b-nav>

          <b-nav is-nav-bar class="ml-auto">
            <b-nav-item
              :class="{'yellow-text': !signedIn, 'external-link': true }"
              :key="ref.name" :href="ref.href" v-for="ref in socialLinks">
              {{ ref.name }}
            </b-nav-item>
          </b-nav>
      </b-navbar>
    </div>
    <div class="col-sm-12">
      <p :class="{'yellow-text': !signedIn }">
         <a href="mailto:support@food-i-like.com" class="contact-link">support@food-i-like.com</a>
        <br> <a href="tel:+2348101513044" class="contact-link">0810 151 3044</a>
      </p>
    </div>

    <b-modal
      v-for="ref in links"
      :key="ref.modal_id"
      class="info-modal"
      :hide-footer="true"
      :id="ref.modal_id"
      size="lg"
      :title="ref.name">
      <div v-html="ref.html"></div>
    </b-modal>
  </div>
</template>
<script>
  import { isMobile } from '@/constants';
  import IconButton from './FilIconButton';

  export default {
    name: 'fil-footer',
    components: {
      IconButton
    },
    data() {
      return {
        origin: 'localhost:3000'
      };
    },
    mounted() {
      /* eslint-disable no-undef */
      this.origin = window.location.origin; 
      // If on mobile, remove auto left margin from external links
      if (isMobile()) {
        this.$el.querySelector('.ml-auto').classList.remove('ml-auto');
      }

      // Remove href from dead link & add clickable class
      this.$el.querySelectorAll('.link > a[href="#"]')
        .forEach((a) => {
          a.removeAttribute('href');
          a.classList.add('clickable');
        });

      // Set external link targets
      this.$el.querySelectorAll('.external-link > a')
        .forEach((link) => { link.target = '_blank'; });
    },
    computed: {
      signedIn() {
        return !!this.user.token;
      },
      user() {
        return this.$store.getters.getUser;
      },
      links() {
        return [
          {
            name: 'About',
            modal_id: 'about',
            html: `
      <p>
        Food-i-Like.com helps you to find and order food for delivery in Abuja.<br>
        Ordering your food delivery online in Abuja has been made easy with a few clicks.<br>
        <br>
       <b>How it works:</b> <br>
        You enter in your location and search for your favorite menu item. For a more specific result,
        filter by price and cuisine. When you find what you are looking for, you place your order online free of charge
        and we take care of the rest! Our fleet of delivery personnel pickup your order and deliver the food you love
        in 50minutes- fast & efficient! Oh, we also give you access to other user reviews, coupons, special deals &
        discounts and a customer care team that tracks each order to make sure you get exactly what you want,
        when you want it.
        With our partner restaurants, we offer a wide range of options with plenty of choices. With new restaurants
        being added daily, it’s easy to find favorites such as Pizza, Sharwama, Amala, Small Chops, Chinese, Ice Cream,
        Indian, Nigerian Delicacies, and Burgers.
      </p>
            `
          },
          {
            name: 'FAQs',
            modal_id: 'faqs',
            html: `
<p>
  <b>Do I have to create an account to place an order?</b>
  <p>
    You can search and browse food items without creating an account however on checkout to place an order you will
    have to create an account. By creating an account, you can track previous orders, make re-orders and save previous
     delivery addresses so you don’t have to enter them again.
  </p>
</p>
<p>
  <b>How do I place an order?</b>
  <p>
    Place your order in 3 easy steps: <br>
    1. <i>Search</i>: Enter your location and what you will like to eat. <br>
    2. <i>Choose what you would like</i>: Select items you’d like to order. Filter by price or cuisine type.<br>
    3. <i>Checkout</i>: Add to cart and checkout. Enter your phone number and delivery address
  </p>
</p>
<p>
  <b>Can I make bulk orders?</b>
  <p>
    To provide all our customers with a great selection and to ensure on-time delivery, we reserve the right to limit
    the order quantities.
  </p>
</p>
<p>
  <b>Can I make a single order with items from various restaurants?</b>
  <p>
    You can place orders for items from the same restaurant in a single order however items from different restaurants
   will incur extra delivery charges.
  </p>
</p>
<p>
  <b>I want to edit my order</b>
  <p>
    This can be done before your order reaches the restaurant. Please contact customer support as soon as possible by
    calling 08101513044 to do so. Once order is placed and being prepared by restaurant, you may not edit order
    contents.
  </p>
</p>
<p>
  <b>Cancel my order</b>
  <p>
    Your request for cancellation will be accommodated if the order has not been placed to the restaurant. Please
    contact customer support as soon as possible by calling 08101513044 to do so. If your order has been confirmed
    and already being prepared by restaurant, we will charge a cancellation fee of ₦500 to compensate our restaurant
    and delivery partners.
  </p>
</p>
<p>
  <b>I have concerns about food quality/quantity</b>
  <p>
    It’s the restaurants’ responsibility to ensure quantity and quality of the food however in case of any issue with
    the quality and quantity of the food, please send us a feedback which will be passed on to the restaurant.
  </p>
</p>
<p>
  <b>Is there a minimum order value</b>
  <p>
    No, there is no minimum order value so you can order any amount.
  </p>
</p>
<p>
  <b>Error message “cannot deliver to my location”?</b>
  <p>
    Deliveries are only made to areas in Abuja City Metropolis covering Apo, Asokoro, Baze University, Central Area,
    Central Business District, Durumi, Games Village, Garki, Garki 2, Gwarinpa, Jabi, Kado, Katampe, Lifecamp,
    Mabushi, Mbora, Maitama, Nile University, Prince & Princess, Sun City, Sunnyvale, Utako, Wuse, Wuse 2, and Wuye.
     Addresses not represented by these locations are not delivered to.
  </p>
</p>
<p>
  <b>I haven’t received my confirmation email – Has my order been placed?</b>
  <p>
    Don’t worry, your order has probably gone through and there’s just a delay in your confirmation email. To check or
     view your recent orders; Go to the “My Profile” page and select “My Orders” and “Order Overview”. If it’s there,
    it should have gone through. Still having problems? Contact customer support via call 08101513044.
  </p>
</p>
<p>
  <b>How do I pay for my order</b>
  <p>
    When you sign up for an account, a digital wallet is created for you where you can store digital currency and use
    it to pay for orders with faster checkouts. The wallet prevents payments failures that may arise and helps with
    seamless refunds when necessary. Orders can also be paid for by card.
  </p>
</p>
<p>
  <b> I have a voucher, how do I use it</b>
  <p>
    Redeem your voucher after selecting your food item and adding it to cart. Enter your voucher code into the field
    provided in your order overview page and the discount on your order will be calculated and applied immediately.
    Only one voucher can be used per order.
  </p>
</p>
<p>
  <b>My food isn’t here. What should I do?</b>
  <p>
    If the estimated delivery time has not yet elapsed, please be patient but if the time has exceeded the estimated
    delivery time, you can contact us and we will look into what’s going on. We do everything to get your food
    delivered as quickly as possible. After you place an order, we send it to the restaurant which starts preparing
    it. Sometimes meal preparation/processing time in the restaurant may exceed 30minutes due to various reasons.
    Also drivers get stuck in heavy traffic or rain - these factors unfortunately might cause delays.
  </p>
</p>
<p>
  <b>What is the delivery charge?</b>
  <p>
    Our delivery fee is N500. When ordering from multiple restaurants, the delivery fee is applied for every
    restaurant you order from.
  </p>
</p>
<p>
  <b>How long do you take to deliver?</b>
  <p>
    An estimated delivery time is indicated in your order confirmation receipt. Delivery times vary by your location
    and other conditions. It depends on the restaurant preparation time of your order and the distance between the
    restaurant and your location.
  </p>
</p>
<p>
  <b>What are your delivery hours?</b>
  <p>
    Our delivery hours are between 10am – 7pm, Monday to Saturday and 1pm – 6pm Sunday. During closing hours, you can
    browse food items, place an order and schedule for later delivery.
  </p>
</p>
            `
          },
          {
            name: 'Terms & conditions',
            modal_id: 'tc',
            html: `
<ol type="I">
  <li>
    <p>
      These terms and conditions (the "<b>Terms and Conditions</b>") govern your use of our website
      www.food-i-like.com (the "<b>Site</b>") and our application for mobile and handheld devices (the "<b>App</b>").
       The Site and the App are jointly referred to as (the "<b>Platform</b>"). Please carefully read these terms of
      use before using the services. By gaining access to, use of, placing of an order, linking to the Site, use of
      software or downloading software on the Site (collectively, your "Access"), you shall be contracting with
      Food-i-Like and you signify your acceptance to the terms of use and other policies contained on this page and
      elsewhere on the site (including but not limited to Privacy Policy and Cancellation and Refund Policy) as posted
       on the Platform from time to time, which takes effect on the date on which you use the service, download or
      install our software, and create a legally binding arrangement to abide by the same. If you do not agree to
      these Terms of Use, exit this Site and uninstall the App.
    </p>
  </li>
  <li>
    <p>
      The Platform is operated and owned by Instapriv Services Ltd or Food-i-Like, having its office at Enspire Hub,
      3rd Floor, NEPZA HQ, Zambezi crescent, Maitama, Abuja, Nigeria. For the purpose of these Terms of Use, wherever
      the context so requires, ”you” , “your”, “yours” shall mean any natural or legal person who has agreed to become
       a buyer or customer on the Platform by providing Registration Data while registering on the Platform as a
      registered user using any computer systems. The terms “we”, “us” or “our” shall mean Food-i-Like.
    </p>
  </li>
  <li>
    <p>
      Food-i-Like enables transactions between participant restaurants/merchants and buyers, dealing in prepared food
      and beverages ("<b>Platform Services</b>"). The buyers ("<b>Buyers</b>") can choose and place orders
      ("<b>Orders</b>") from variety of products listed and offered for sale by merchants including but not limited
      to the restaurants and eateries ("<b>Merchants</b>"), on the Platform and Food-i-Like enables delivery of such
      orders ("<b>Delivery Services</b>"). The Platform Services and Delivery Services are collectively referred to as
       "<b>Services</b>".
    </p>
  </li>
  <li>
    <p>
      We reserve the right to amend the Terms of Use and any other Food-i-Like policies at any time and you should
      periodically refer to them on this page and elsewhere on this site. Your continued usage of the services after
       any change is posted constitutes your acceptance of the amended Terms of Use and other Food-i-Like policies.
       By accepting these Terms of Use, you also accept and agree to be bound by the other terms and conditions and
       Food-i-Like policies as may be posted on the Platform from time to time.
    </p>
  </li>
  <li>
    <p>
      You may not print, copy, reproduce, download, republish, broadcast, transmit, display, modify or re-use the
      materials from this Site for anything other than personal, non-commercial use, including in particular any
      purpose which publicly re-sells or re-uses the materials, without the prior written consent of the copyright
      holder. All copyright, trademarks and other intellectual property rights in this Site and its content (including
       without limitation the Site design, text, graphics, logos, icons, images and all software, databases and source
       code connected with the Site) are owned by or licensed to food-i-like.com or otherwise used by food-i-like.com
      as permitted by law.
    </p>
  </li>
  <li>
    <p>
      This Site contains links to other websites. We provide the links as a convenience as they may or may not be of
      interest to you. Those websites are not under the control of food-i-like.com and food-i-like.com is not
      responsible for or represent the quality of goods or services; practices, content or availability of such
      websites. A link does not imply endorsement of, sponsorship of, or affiliation with the linked site. If you
      decide to access linked third party websites, you do so at your own risk, and we will not be held responsible or
       liable for any loss or damages caused by use of or reliance on any contents, goods or services available on
      such websites.
    </p>
  </li>
</ol>
<ol>
  <li>
    <p>Order Bookings</p>
    <ol type="i">
      <li>
        <p>
          By placing an order through our Platform, you enter into an agreement with Food-i-Like with respect to the
          processing of that order and forwarding it to the participating restaurant and we will, subject to the terms
           and conditions set out herein, enable delivery of such order to you.
        </p>
      </li>
      <li>
        <p>
          Food-i-Like accepts no responsibility or liability for the quality or quantity of any goods as we do not
          own, sell, resell on its own and/or do not control the Merchants or the related services provided in
          connection thereof. The Restaurant remains responsible for the preparation, quality & quantity of your
          order.
        </p>
      </li>
      <li>
        <p>
          You understand that any order that you place shall be subject to the terms and conditions set out in these
           Terms of Use including, but not limited to, product availability, delivery location serviceability and
          acceptance both by us and the Partner restaurant.
        </p>
      </li>
      <li>
        <p>
          As a general rule, all food orders placed on the Platform are treated as acknowledged- you will receive an
          email to confirm we have received your order. This email contains your order number and order details.
          Please note that this is acknowledgement of your order, not acceptance.
        </p>
      </li>
      <li>
        <p>
          Acceptance of your order will only occur when we send you a further text message (SMS) and / or email
          confirming that the restaurant has received and accepted your order. The message will specify restaurant
           preparation time and delivery details including the estimated delivery time and confirm the price of the
           order and delivery service.
        </p>
      </li>
      <li>
        <p>
          In addition to the foregoing, we may also contact you by phone and / or email to inform and confirm any
          change in the order, due to availability or unavailability, lack of delivery capacity or change in price of
           the order as informed by the Merchant. Please note change or confirmation of the order shall be treated as
          final. It is clarified that Food-i-Like reserves the right to not to process your order in the event you are
           unavailable on the phone at the time we call you for confirming the order and such event the provisions of
          the cancellation and refund policy below shall be applicable.
        </p>
      </li>
      <li>
        <p>
          Please make sure the email address you provide is correct and your mailbox is in proper working order, as
          all correspondence regarding your order is sent to this address. Incorrect personal details may lead to
          problems or delays in delivery, so please ensure that you have included your correct address (including
          landmark close to address), email address and contact telephone number when ordering.
        </p>
      </li>
    </ol>
  </li>
  <li>
    <p>Payment</p>
    <ol type="i">
      <li>
        <p>
          All payments made against the purchases/services on the Platform by you shall be compulsorily in Nigerian
          Naira acceptable in Nigeria. The Platform will not facilitate transactions with respect to any other form of
           currency with respect to the purchases made on Platform.
        </p>
      </li>
      <li>
        <p>
          You can pay by (i) using your digital wallet with your account which is crediting using your credit card or
          debit card; (ii) credit card or debit card; (iii) any other payment method at the time of booking an order.
          You understand, accept and agree that the payment facility provided by Food-i-Like is neither a banking nor
          financial service but is merely a facilitator providing an electronic, automated online electronic payment,
          receiving payment on delivery, collection and remittance facility for the transactions on the Platform using
           the existing authorized banking infrastructure and credit card payment gateway networks.
        </p>
      </li>
      <li>
        <p>
          If paying with credit or debit card, you warrant that you are the legal owner of the card and the details
          that you provide are for your own credit or debit card. You also warrant that you have sufficient funds to
          make the payment.
        </p>
      </li>
      <li>
        <p>
          You acknowledge and agree that we act as the Merchant’s payment agent for the limited purpose of accepting
          payments from you on behalf of the Merchant. Upon your payment of amounts to us, which are due to the
          Merchant, your payment obligation to the Merchant for such amounts is completed, and we are responsible for
           remitting such amounts, to the Merchant. You shall not, under any circumstances whatsoever, make any
          payment directly to the Merchant for Order bookings made using the Platform.
        </p>
      </li>
      <li>
        <p>
          The prices reflected on the Platform are determined solely by the Merchant, are correct at the time of
          publication and are listed based on Merchant’s information. Prices may change at the time of placing order
           due to Merchant changing the menu price without due intimation and such change of price are at the sole
          discretion of the Merchant attributing to various factors beyond control. In the case the price listed is
          not current and the merchant informs us immediately after placing the order, we will contact you to inform
          you about the price difference and you can choose to opt-out of the order.
        </p>
      </li>
      <li>
        <p>
          Prices are inclusive of the relevant sales tax and delivery charges. We also reserve the right to alter the
          goods or services available for sale on the platform and to stop listing restaurants, goods or services.
        </p>
      </li>
      <li>
        <p>
          All applicable prices, taxes and levies, the rates thereof and the manner of applicability of such taxes on
          the bill will be displayed in your order summary and are being charged and determined by the Merchant.
          Food-i-Like holds no responsibility for the legal correctness/validity of the levy of such taxes. The sole
          responsibility for any legal issue arising on the taxes shall reside with the Merchant.
        </p>
      </li>
      <li>
        <p>
          Payment must be made for all order items. You agree to pay us for the total amount for the order placed by
          you on the Platform. We will collect the total amount in accordance with the terms and conditions of these
          Terms of Use and the pricing terms set forth in the applicable menu listing for the particular Merchant.
          Please note that we cannot control any amount that may be charged to you by your bank related to our
          collection of the total amount, and we disclaim all liability in this regard.
        </p>
      </li>
      <li>
        <p>
          In connection with your order, you will be asked to provide customary billing information such as name,
          billing address and credit card information either to us or our third party payment processor. You agree to
           pay us for the order placed by you on the Platform, in accordance with these Terms, using any of the
          methods described under clause 1. (ii) above. You hereby authorize the collection of such amounts by
          charging the credit card provided as part of requesting the booking, either directly by us or indirectly,
          via a third party online payment processor or by one of the payment methods described on the Platform. If
          you are directed to our third-party payment processor, you may be subject to terms and conditions governing
          use of that third party’s service and that third party’s personal information collection practices. Please
          review such terms and conditions and privacy policy before using the Platform services. Once your confirmed
          booking transaction is complete you will receive a confirmation email summarizing your confirmed booking.
        </p>
      </li>
      <li>
        <p>
          The Merchant shall be solely responsible for any warrantee/guarantee of the food products sold to the
          Buyers and in no event shall be the responsibility of Food-i-Like.
        </p>
      </li>
    </ol>
  </li>
  <li>
    <p>Delivery</p>
    <ol type="i">
      <li>
        <p>
          All food preparation is the sole responsibility of the restaurant accepting the order. Please be aware that
          the restaurant will do everything they can to meet the meal preparation time so as to meet the delivery time
          you specified, however delivery times may be affected by factors beyond our control and therefore cannot be
          guaranteed. We will inform you if we become aware of an unexpected delay/late delivery.
        </p>
      </li>
      <li>
        <p>
          You may not be able to avail our Services if your delivery location is outside our current scope of Service.
           We will keep you informed of the same at the time of confirming your order booking.
        </p>
      </li>
      <li>
        <p>
          If the goods are not delivered within the estimated delivery time quoted by us, you may also contact us by
          telephone or email and we will try to ensure that you receive your order as quickly as possible.
        </p>
      </li>
      <li>
        <p>
          You must ensure that at the time of delivery, adequate arrangements including access where necessary are in
           place for the safe delivery of such goods. We cannot be held liable for any damage, cost or expense
          incurred to such goods or premises where this arises as a result of a failure to provide adequate access or
           arrangements for delivery. Any storage, insurance and other costs which we incur as a result of the
          inability to deliver shall be your responsibility and you shall indemnify us in full for such cost.
        </p>
      </li>
      <li>
        <p>
          If you fail to accept delivery of items at the time they are ready for delivery, or we are unable to deliver
           at the nominated time due to your failure to provide appropriate instructions, or authorizations, then such
           items shall be deemed to have been delivered to you and all risk and responsibility in relation to such
          goods shall pass to you and you shall not be entitled to any refund for the same. Our decision in relation
          to this shall be final and binding. We shall not be liable to you for any losses, liabilities, costs,
          damages, charges or expenses arising out of late delivery.
        </p>
      </li>
    </ol>
  </li>
  <li>
    <p>Cancellation and Refunds</p>
    <p>We process cancellations and refunds in accordance with our Cancellations and Refunds Policy</p>
  </li>
  <li>
    <p>Customer Ratings and Reviews</p>
    <p>
      The ratings contained on this Platform are for informational purposes only and do not constitute advice, nor
      should you rely on ratings to make (or refrain from making) or take (or refrain from taking) any action. Ratings
       are the opinions of customers who have ordered through the Site, and any statements, advice or opinions made by
       such customers are those of such customers only.
    </p>
  </li>
  <li>
    <p>Use of Platform</p>
    <ol type="i">
      <li>
        <p>
          Food-i-Like is operating an online marketplace and assumes the role of facilitator, and does not at any
          point of time during any transaction between Buyer and Merchant on the Platform come into or take
          possession of any of the products or services offered by Merchant.
        </p>
      </li>
      <li>
        <p>
          Food-i-Like is only providing a platform for communication and in the case of complaints from the Buyer
          pertaining to food efficacy, quality, or any other such issues, Food-i-Like shall notify the same to
          Merchant. The Merchant shall be liable for redressing Buyer complaints. In the event you raise any
          complaint on any Merchant accessed using our Platform, we shall assist you to the best of our abilities by
           providing relevant information to you, such as details of the Merchant and the specific Order to which the
           complaint relates, to enable satisfactory resolution of the complaint.
        </p>
      </li>
      <li>
        <p>You agree and acknowledge that we shall not be responsible for:</p>
        <ol type="a">
          <li>
            <p>
              The services or goods provided by the Merchant including, but not limited to, serving of food orders
              suiting your requirements and needs;
            </p>
          </li>
          <li>
            <p>
              The Merchant’s services or goods not being up to your expectations or leading to any loss, harm or
              damage to you;
            </p>
          </li>
          <li>
            <p>
              The availability or unavailability of certain items on the menu; or
            </p>
          </li>
          <li>
            <p>
              The Merchant serving the incorrect orders.
            </p>
          </li>
        </ol>
      </li>
      <li>
        <p>
          The details of the menu and price list available on the Platform are based on the information provided by
          the Merchants and we shall not be responsible for any change or cancellation or unavailability.
        </p>
      </li>
      <li>
        <p>
          You understand that our liability ends once your order has been delivered to you.
        </p>
      </li>
      <li>
        <p>
          We do not offer any refunds against goods already purchased from the Platform unless an error that is
          directly attributable to us has occurred during the purchase of such product or services.
        </p>
      </li>
      <li>
        <p>
          We constantly strive to provide you with accurate information on the Platform. However, in the event of an
           error, we may, in our sole discretion, contact you with further instructions.
        </p>
      </li>
      <li>
        <p>
          Do not use or launch any automated system or program in connection with our website or its online ordering
           functionality.
        </p>
      </li>
      <li>
        <p>
          Do not collect or harvest any personally identifiable information from the website, use communication
          systems provided by the website for any commercial solicitation purposes, solicit for any reason whatsoever
           any users of the website with respect to their submissions to the website, or publish or distribute any
          vouchers or codes in connection with the website, or scrape or hack the website.
        </p>
      </li>
      <li>
        <p>
          If you use the Platform, you do the same at your own risk.
        </p>
      </li>
      <li>
        <p>
          You agree that the Services shall be provided by us only during the working hours of the relevant Merchants.
        </p>
      </li>
      <li>
        <p>
          You agree and grant permission to Food-i-Like to receive promotional SMS and e-mails from Food-i-Like or
          allied partners. In case you wish to opt out of receiving promotional SMS or email please send a mail to
           <u><a href="mailto:support@food-i-like.com">support@food-i-like.com</a></u>
        </p>
      </li>
      <li>
        <p>
          To use our service you must be 18 years of age or older. Note that certain items may not be suitable for
          certain age ranges. Please make sure by carefully reading product descriptions, that the product or products
           you order suits the recipient’s age.
        </p>
      </li>
    </ol>
  </li>
  <li>
    <p>Information</p>
    <p>
      Food-i-Like is operating an online marketplace and assumes the role of facilitator, and does not at any point
      of time during any transaction between Buyer and Merchant on the Platform come into or take possession of any of
     the products or services offered by Merchant.
    </p>
  </li>
  <li>
    <p>Platform Availability and Accuracy</p>
    <ol type="i">
      <li>
        <p>
          We endeavor to make the Platform available to use during Merchant working hours. To the extent permitted by
          law, we provide the Platform and content on an "as-is" and "as available" basis and we make no representation
           or warranty of any kind, express or implied, regarding the content or availability of this Platform, or that
           it will be timely or error-free, that defects will be corrected, or that the Site or server that makes it
          available are free of viruses or other harmful components.
        </p>
      </li>
      <li>
        <p>
          This Platform may be unavailable at certain times to allow for maintenance and upgrades and some functions
          and features may not be fully operational. Although we will endeavor to notify customers in advance of any
          service unavailability, this cannot be guaranteed and we reserve the right to alter or withdraw the service
           at any time.
        </p>
      </li>
      <li>
        <p>
          This Platform is intended to be accessed by persons located in NIGERIA and we make no representation that
          any information, materials or functions included in the Platform are appropriate for use in any other
          jurisdiction.
        </p>
      </li>
    </ol>
  </li>
  <li>
    <p>Complaints</p>
    <p>
      Customers are at the core of our business and our processes. We take complaints very seriously and aim to
      respond to your complaints within 3 business days. Please submit any complaints to
      <u><a href="mailto:support@food-i-like.com">support@food-i-like.com</a></u>
    </p>
  </li>
  <li>
    <p>Non-assignment</p>
    <p>
      You shall not assign or transfer or purport to assign or transfer the contract between you and us to any other
      person.
    </p>
  </li>
  <li>
    <p>Governing Law</p>
    <p>
      The Terms of Use, Privacy Policy and any matter relating to this Platform shall be governed by Nigerian law and
      any dispute shall be resolved exclusively in the court.
    </p>
  </li>
  <li>
    <p>Disclaimers and Limitation of Liability</p>
    <ol type="i">
      <li>
        <p>
          Due to the vagaries that can occur in the electronic distribution of information and due to the limitations
          inherent in providing information obtained from multiple sources, there may be delays, omissions, or
          inaccuracies in the content provided on the platform or delay or errors in functionality of the platform. As
           a result, we do not represent that the information posted is correct in every case. Also, neither can we
          warrant that the site or the server that makes it available are free of viruses or bugs or represents the
          full functionality, accuracy, reliability of the website and we do not make any warranty whatsoever, whether
           express or implied, relating to fitness for purpose, or accuracy.
        </p>
      </li>
      <li>
        <p>
          We have taken all reasonable steps to prevent internet fraud and ensure any data collected from you is
          stored as securely and safely as possible. However, we cannot be held liable in the extremely unlikely event
           of a breach in our secure computer servers or those of third parties.
        </p>
      </li>
      <li>
        <p>
          You acknowledge that third party services are available on the platform. We may have formed partnerships or
           alliances with some of these third parties from time to time in order to facilitate the provision of
          certain services to you. However, you acknowledge and agree that at no time are we making any representation
           or warranty regarding any third party’s services nor will we be liable to you or any third party for any
          consequences or claims arising from or in connection with your use of information from any third party, your
           use of any third party website, or your consumption of any food or beverages from any merchant including,
          and not limited to, any liability or responsibility for, death, injury or impairment experienced by you or
          any third party. You hereby disclaim and waive any rights and claims you may have against us with respect to
           third party’s/ merchants services.
        </p>
      </li>
      <li>
        <p>
          We expressly disclaim all liabilities that may arise as a consequence of any unauthorized use of
          credit/debit cards.
        </p>
      </li>
      <li>
        <p>
          We shall not be liable to you or anyone else for any losses or injury arising out of or relating to the
          information provided on the platform. In no event will we or our employees, affiliates, authors or agents
          be liable to you or any third party for any decision made or action taken by your reliance on the content
          contained herein.
        </p>
      </li>
      <li>
        <p>
          Neither food-i-like nor its directors, officers, agents, employees or contractors shall have any liability
          for any direct, indirect, special or consequential losses or damages (including without limitation, damages
          arising from personal injury/wrongful death, damages for loss of business or loss of profits), arising in
          contract, tort or otherwise from your access to and the use or inability to use this site or for any
          products or services purchased from us.
        </p>
      </li>
      <li>
        <p>
          You must indemnify and hold harmless food-i-like, its directors, officers, employees, agents, vendors,
          advertisers, partners and suppliers and keep them indemnified against all loss, actions, proceedings, costs,
           expenses (including legal fees), claims and damages arising from your access to and use of this site, any
          breach or violation of the terms of use of this site or your violation of any law or your violation of the
          rights of any third party.
        </p>
      </li>
      <li>
        <p>
          No delay, failure or no waiver by us shall be construed as a waiver of any preceding or succeeding breach of
           any provision unless confirmed in writing.
        </p>
      </li>
      <li>
        <p>
          If any parts of these terms of conditions are deemed unlawful, void or for any reason unenforceable, then
          that provision shall be deemed severable from these terms of use and shall not affect the validity and
          enforceability of any of the remaining provisions of these terms of use.
        </p>
      </li>
      <li>
        <p>
          If there is an abuse of vouchers and/or discount codes or in suspected instances of fraud, we reserve the
          right to cause the shopper (or customer) to be blocked immediately and to refuse future service to them and
           we also reserve the right to seek compensation from any and all violators.
        </p>
      </li>
      <li>
        <p>
          Offers are subject to our discretion and may be withdrawn at any time and without notice.
        </p>
      </li>
    </ol>
  </li>
</ol>
            `
          },
          {
            name: 'Privacy',
            modal_id: 'privacy',
            html: `
<p>
  Food-i-Like is a service provided by Instapriv Services Ltd. By visiting our website
  <a href="${this.origin}" style="text-transform: lowercase
  !important;color: #666 !important;">www.food-i-like.com</a>(<b>"Website"</b>) and our app
  "<b>Food-I-Like App</b>" jointly referred to as the "<b>Platform</b>", you provide us with some personal data.
  We (Instapriv Services Ltd or "<b>Food-i-Like</b>") are fully committed to respecting your privacy, protecting your
  personal information and ensuring it is safe with us. This privacy policy ("<b>Privacy Policy</b>")sets out the
  information practices, with respect to the use of our website including the type of information collected, how
  the information is collected, how the information is used and with whom it is shared. <br>
  References to "<b>you</b>" or "<b>your</b>" in this Privacy Policy refer to the users of this Platform whether
  or not you access the services available on the Platform or consummate a transaction on the Platform.
  References to "<b>we</b>", "<b>our</b>" or "<b>us</b>" shall mean Food-i-Like.<br>
  "<b>Personal Information</b>" refers to any information that identifies or can be used to identify, contact or
  locate the person, to whom such information pertains including, but not limited to, name, address, phone number,
  email address and payment information disclosed by you in relation to the services available on the Platform. <br>
  "<b>Third Party</b>" refers to any person or entity other than you or us. <br>
  By using or accessing this Platform, you agree to the terms and conditions of this Privacy Policy. You also expressly
  consent to our use and disclosure of your Personal Information (as defined below) in any manner as described in this
  Privacy Policy and further signify your agreement to this Privacy Policy and the Terms of Use (being incorporated by
  reference herein). <br>
  <b><u>What information do we collect from you</u></b><br>
  We collect your personal information from you only when you order goods or services on our website, when you complete
  any customer survey, or through cookies. In order for us to successfully deliver your order to you, we collect your
  personal Information as may be required for the purposes connected thereto when you place an order on the Platform.
  This information is collected, stored and used on secured servers. <br>
  <b><u>How do we use the information we collect from you</u></b><br>
  We use the details provided by you during check out to process your order: ensure that orders are successfully
  delivered on time, to keep you informed on the status of your order and to manage your account. In connection with
  facilitating this service, we receive call data, including the date and time of the call or SMS message,
  the parties' phone numbers, and the content of the SMS message, etc. <br>
  We may also collect information to enable us to understand you better so that we can improve (i) your user experience;
  (ii) to assist our customer service and technical support personnel; and (iii) put processes in place to prevent
  fraud and unlawful use. In an effort to make the Platform effective and improve the Platform, certain information may
  be collected each time you access the Platform. Such information may be saved in server logs in an encrypted form
  which may not identify you personally. Such information or data may include, but shall not be limited to, IP address,
  your server details, duration of your visit, date, time or purpose of your visit. <br>
  To the extent necessary to provide you the services on the Platform, we may be required to disclose your Personal
  Information to Third Parties solely in connection with purchase, sale and delivery of your order in accordance with
  the terms and conditions stipulated by such Third Party. We may also provide your Personal Information to Third Party
  contractors who work on behalf of or with us to help us communicate with you or to maintain the Platform. <br>
  <b><u>Cookies</u></b><br>
  Cookies are small pieces of information saved by your browser while visiting websites. They are necessary to have
  websites work more efficiently or to provide information to the website’s owners. We collect cookies to record
  various aspects of your visit and assist us in providing you with uninterrupted service. This information is
  maintained distinctly and is not linked to the Personal Information that you submit to us. We use cookies collected
  to: (i) authenticate your login information; (ii) enable our security features; (iii) show you advertising; and (iv)
  improve and develop the features of the Website. <br>
  We also use Google Analytics, a web analytics service provided by Google, Inc. ("Google"). Google Analytics uses
  "cookies". The information generated by the cookie about your use of the website will be transmitted to and stored by
  Google on its servers. Google will use this information for the purpose of evaluating your use of the website,
  compiling reports on website activity for website operators and providing other services relating to website activity
  and internet usage. Google will not associate your IP address with any other data held by Google. By using this
  website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.
  <br>
  If you do not wish to accept or use cookies, feel free to change your browser settings, however please note that if
  you do this you may not be able to use the full functionality of this website which will affect your experience on
  the Platform. <br>
  <b><u>Communication</u></b><br>
  We may offer email, App notifications, SMS, multimedia message service (MMS) or other forms of communication to share
  information with you about certain promotions or features the Platform may choose to offer or about our affiliates,
  subsidiaries, business partners, advertisers and sponsors. You may receive such communication when you have
  registered as a user in order to provide advertisements about goods and services of interest to you. <br>
  <b><u>Link to Third Party apps and websites</u></b><br>
  The Platform and any communication sent to you may also contain/display Third Party advertisements and links to other
  websites or products and services. You agree and acknowledge that these Apps and websites are operated by Third
  Parties and are not controlled by, or affiliated to, or associated with us unless expressly specified. This privacy
  policy only applies to this website. You should therefore read the privacy policies of the other websites when using
  those sites. <br>
  <b><u>Security</u></b><br>
  We strive to ensure the security, integrity and privacy of your Personal Information and to protect your Personal
  Information against unauthorized access or unauthorized alteration, disclosure or destruction. We are not responsible
  for any breach of security or for any actions of any Third Parties that receive your Personal Information.
  The Services are also linked to many other sites and we are not/shall be not responsible for their privacy policies
  or practices as it is beyond our control. Notwithstanding anything contained in this Privacy Policy or elsewhere, we
  shall not be held responsible for any loss, damage or misuse of your Personal Information, if such loss, damage or
  misuse is attributable to a Force Majeure Event.
</p>
            `
          },
          {
            name: 'Cancellations & refunds',
            modal_id: 'cancellations',
            html: `
<ol>
  <li>
    <p><u>Cancellation</u></p>
    <ol type="i">
      <li>
        <p>
        If you decide to cancel your order, you must notify Food-i-Like immediately preferably by phone, and quote
         your order number. Normally, this is approximately 45 minutes before the time you requested delivery or
         collection of the order. If the restaurant accepts your cancellation, no cancellation fee applies. As a
         general rule you shall not be entitled to cancel your order once you have received confirmation of the order.
          If you cancel your order after it has been confirmed and restaurant refuses cancellation, e.g. because
        preparation of Food has been completed and/or delivery personnel has already been dispatched then food-i-like
         shall have a right to charge you cancellation fee of <b>₦500</b>, with a right to either not to refund the
        order value or recover from your subsequent order, the complete/ deficit cancellation fee, as applicable, to
        compensate our restaurant and delivery partners.
      </p>
      </li>
      <li>
        <p>
          In the unlikely event of an item on your order being unavailable, we will contact you on the phone number
          provided to us at the time of placing the order and inform you of such unavailability. In such an event you
          will be entitled to replace your order or cancel the entire order and shall be entitled to a refund of any
          payment made in accordance with our refund policy.
        </p>
      </li>
      <li>
        <p>
          We reserve the right to cancel any order before or after acceptance for the reasons specified under clause
          1(iv) of this cancellation and refunds policy and will notify you immediately of any such cancellation. In
          case of cancellations for the reasons attributable to Food-i-Like or its restaurant and delivery partners,
          we shall not charge you any cancellation fee.
        </p>
      </li>
      <li>
        <p>We reserve the sole right to cancel your order in the following circumstance:</p>
        <ol type="a">
          <li>
            <p>failure to contact you by phone or email at the time of confirming the order booking;</p>
          </li>
          <li>
            <p>in the event that the delivery address falls outside the delivery zone offered by us;</p>
          </li>
          <li>
            <p>failure to deliver your order due to lack of information, direction or authorization from you at the
            time of delivery; or</p>
          </li>
          <li>
            <p>unavailability of all the items ordered by you at the time of booking the order</p>
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    <p><u>Refunds</u></p>
    <ol type="i">
      <li>
        <p>You shall be entitled to a refund only if you pre-pay for your order at the time of placing your order on
          the Platform and only in the event of any of the following circumstances:</p>
        <ol type="a">
          <li>
            <p>us cancelling your order due to (A) your delivery location following outside our designated delivery
              zones; or (B) failure to contact you by phone or email at the time of confirming the order booking; or</p>
          </li>
          <li>
            <p>you cancelling the order at the time of confirmation due to unavailability of the items you ordered for
              at the time of booking</p>
          </li>
          <li>
            <p>items missing from your order or wrong order received at the time of delivery, or</p>
          </li>
          <li>
            <p>your order packaging has been tampered or damaged at the time of delivery</p>
          </li>
        </ol>
      </li>
      <li>
        <p>Our decision on refunds shall be at our sole discretion and shall be final and binding.</p>
      </li>
      <li>
        <p>All refund amounts shall be credited to your digital wallet on the platform within 3-4 business days as
          applicable
        </p>
      </li>
    </ol>
  </li>
</ol>
            `
          }
        ];
      },
      socialLinks() {
        return [
          {
            name: 'Facebook',
            href: 'https://www.facebook.com/FoodiLikeDelivery'
          },
          {
            name: 'Twitter',
            href: 'https://twitter.com/Food_i_Like'
          },
          {
            name: 'Instagram',
            href: 'https://www.instagram.com/food.i.like'
          }
        ];
      },
      bottomBarClassList() {
        return `bottom-bar row ${this.signedIn ? 'white-background' : 'red-background'}`;
      }
    }
  };
</script>
<style>
  .bottom-bar {
    border-top: 1px solid #eee;
  }

  .bottom-bar * {
    color: #666;
  }

  .bottom-bar.red-background {
    background-color: #E46055;
    color: #FFF !important;
  }
  .bottom-bar.red-background a {
    color: #FFF !important;
  }

  .bottom-bar.white-background {
    background-color: #FFF;
    color: #666 !important;
  }

  .bottom-bar.white-background a,
  .bottom-bar.white-background button.dropdown-item {
    color: #666 !important;
  }

  .bottom-bar .yellow-text, .bottom-bar .yellow-text a {
    color: #FFF074 !important;
  }

  .bottom-bar.white-background .navbar-toggler:focus {
    outline: 5px auto #E46055;
  }
  .bottom-bar.red-background .navbar-toggler:focus {
    outline: 5px auto #FFF074;
  }

  .bottom-bar.white-background li.active {
    background-color: #FFF !important;
    border-color: #E46055 !important;
  }

  .bottom-bar.white-background li.active a {
    color: #E46055 !important;
  }

  .bottom-bar.red-background li.active {
    border-color: #FFF074 !important;
  }
  .bottom-bar.red-background li.active a {
    color: #FFF074 !important;
  }

  .bottom-bar a,
  .bottom-bar.white-background button.dropdown-item {
    text-transform: uppercase;
    font-weight: bold;
  }

  .bottom-bar .contact-link {
    text-transform: lowercase;
    font-weight: normal;
  }

  .bottom-bar .dropdown-menu a:active,
  .bottom-bar.white-background button.dropdown-item:active {
    background-color: #E46055;
    color: #FFF !important;
  }

  .bottom-bar .info-modal * {
    text-align: justify;
  }

  .bottom-bar .modal-header .modal-title {
    text-transform: uppercase;
  }
</style>
