<template>
  <div class="row front-page-banner red-background align-items-center" id="wrapper">
    <div class="col">
      <div class="row">
        <div class="col">
          <h1 class="yellow-text font-weight-bold">
            Order Food
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-sm-6">
          <h4 class="yellow-text">
            From restaurants in Abuja.
          </h4>
        </div>
        <div class="col"></div>
      </div>
      <food-search @submit="searchForFood"></food-search>
      <bg
        video-src="/static/images/intro-4.mp4"
        video-type="video/mp4"
        poster="/static/images/intro-4.jpg">
      </bg>
    </div>
  </div>
</template>
<script>
  import { APP_CONSTANTS, isSignedIn } from '@/constants';
  import FoodSearch from './FoodSearch';
  import Bg from './FullBackgroundVideo';

  export default {
    name: 'fil-front-page-banner',
    components: {
      FoodSearch,
      Bg
    },
    computed: {
      signedIn() {
        return isSignedIn(this.$store);
      },
      yellowVariant() {
        return !!this.$route.query.yellow;
      }
    },
    methods: {
      searchForFood({ city, text }) {
        this.$router.push({ name: APP_CONSTANTS.ROUTES.MENU, query: { city, search: text } });
      }
    }
  };
</script>
<style>
  .front-page-banner {
    background-color: rgba(228, 96, 85, 0.5);
  }

  .front-page-banner h1 {
    font-size: 3.5rem;
  }

  .front-page-banner.red-background {
    /*background-color: #E46055;*/
  }

  .front-page-banner .yellow-text {
    /*color: #FFF074 !important;*/
  }
</style>
