<template>
  <div class="fullscreen-bg">
    <!--
    <video class="fullscreen-bg__video" autoplay="true" muted="true" loop="true" :poster="poster">
      <source :src="videoSrc" :type="videoType">
    </video>
    -->
  </div>
</template>
<script>
export default {
  name: 'fil-bg',
  props: ['videoSrc', 'videoType', 'poster']
};
</script>
<style>
/* Adapted from: https://slicejack.com/fullscreen-html5-video-background-css/ */
  .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }

  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }

  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }

  .fullscreen-bg {
    background: url('/static/images/bg.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }

/* Uncomment if data savings for mobile users become paramount */
  /*@media (max-width: 767px) {
    .fullscreen-bg {
      background: url('/static/images/bg.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
      display: none;
    }
  }*/
</style>
