<template>
  <div class="item-extra">
    <p>
      {{ item.name }} &emsp; <price :currency="item.currency" :amount="price"></price>
      <qty-selector
        v-if="restaurantOpen"
        @new_qty="handleQtyChange"
        :tag="item.id"
        :min-value="1"
        :initial-qty="qty">
      </qty-selector>
    </p>
    <a v-if="restaurantOpen" href="#" @click.stop.prevent="handleAdd"><u>Add to bag</u></a>
  </div>
</template>
<script>
import QtySelector from '@/components/QuantitySelector';
import Price from '@/components/Price';

export default {
  name: 'fil-item-extra',
  components: {
    QtySelector,
    Price
  },
  props: {
    item: {
      type: Object
    },
    restaurantOpen: {
      type: Boolean
    }
  },
  data() {
    return {
      qty: 1
    };
  },
  computed: {
    price() {
      return this.$options.filters.round(this.qty * this.item.price);
    }
  },
  methods: {
    handleQtyChange({ tag, quantity }) {
      if (tag === this.item.id) {
        this.qty = quantity;
      }
    },
    handleAdd() {
      this.$emit('add_item_extra', { item: this.item, quantity: this.qty });
    }
  }
};
</script>

