<template>
  <div class="menu-item">
    <a :href="itemLink">
      <item-img
        class="card-img clickable"
        :name="item.name"
        :photo="item.photo"></item-img>
    <!--<div class="card card-inverse">-->
      <!--<div class="card-img-overlay">-->
        <!--<h4 class="card-title">{{ item.details.name }}</h4>-->
      <!--</div>-->
    <!--</div>-->
    </a>
    <p class="h6 mt-2">{{ item.name }}</p>
    <small v-if="showRestaurant">
      (By
      <a :href="restaurantLink" class="restaurant-link" v-if="showRestaurantLink">{{ restaurantTag }}</a>
      <span v-else>{{ restaurantTag }}</span>
      )
    </small>
    <p class="h6 mt-2 font-weight-bold">
      <span v-if="plain || item.meta.num === 1">
        <price :currency="item.currency" :amount="item.price"></price>
      </span>
      <span v-else>From <price :currency="item.currency" :amount="item.meta.price.min"></price></span>
      <!--&emsp;<span><a class="card-link red-text clickable" @click.stop.prevent="handleAddToBag">Add to cart</a></span>-->
    </p>
  </div>
</template>
<script>
  import ItemImg from '@/components/FilItemImg';
  import Price from '@/components/Price';
  import { APP_CONSTANTS } from '@/constants';

  export default {
    name: 'fil-menu-entry',
    props: {
      item: {
        type: Object
      },
      showRestaurant: {
        type: Boolean,
        default: true
      },
      plain: {
        type: Boolean,
        default: false
      }
    },
    components: {
      ItemImg,
      Price
    },
    computed: {
      restaurantTag() {
        return this.showRestaurantLink ? this.item.restaurant : 'various restaurants';
      },
      showRestaurantLink() {
        return this.plain || this.item.meta.num === 1;
      },
      restaurantLink() {
        if (this.item.restaurant.length) {
          return this.$router
            .resolve({ name: APP_CONSTANTS.ROUTES.REST_SHOW, params: { id: this.item.restaurant_id } }).href;
        }
        return '#';
      },
      itemLink() {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.ITEM_SHOW, params: { id: this.item.id } }).href;
      }
    }
  };
</script>
<style>
  .menu-item .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .menu-item .red-text {
    color: #E46055 !important;
  }
  .menu-item .restaurant-link {
    color: #666 !important;
    text-decoration: underline;
  }
</style>
