<template>
  <b-modal id="msg-modal"
           @ok="$root.$emit('hide::modal', 'msg-modal')"
           :hide-footer="true" :hide-header="true">
    <p v-html="msg"></p>
  </b-modal>
</template>
<script>
  export default {
    name: 'fil-msg-modal',
    data() {
      return {
        msg: ''
      };
    },
    methods: {
      show(msg) {
        this.msg = msg;
        this.$root.$emit('show::modal', 'msg-modal');
      }
    }
  };

</script>
