<template>
  <div class="card mb-3">
    <div class="card-block">
      <h4 class="card-title text-left">Orders</h4>
      <p class="card-text text-left"><small>Order statistics for today</small></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Total orders</h5>
        </div>
        <p class="mb-1">{{ totalOrders | formatNumber }}</p>
      </li>
      <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Delivered orders</h5>
        </div>
        <p class="mb-1">{{ deliveredOrders | formatNumber }}</p>
      </li>
      <li class="list-group-item align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Pending orders</h5>
        </div>
        <p class="mb-1">{{ pendingOrders | formatNumber }}</p>
      </li>
      <li class="list-group-item align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Cancelled orders</h5>
        </div>
        <p class="mb-1">{{ cancelledOrders | formatNumber }}</p>
      </li>
    </ul>
  </div>
</template>
<script>
  export default {
    name: 'fil-order-stats-widget',
    computed: {
      totalOrders() {
        return this.$store.getters.getTotalOrders;
      },
      deliveredOrders() {
        return this.$store.getters.getDeliveredOrders;
      },
      pendingOrders() {
        return this.$store.getters.getPendingOrders;
      },
      cancelledOrders() {
        return this.$store.getters.getCancelledOrders;
      }
    }
  };
</script>
<style scoped>
  .card, .list-group-item {
    background-color: #E46055;
    color: #fff;
  }
</style>
