<template>
  <div class="input-group password-input">
    <b-form-input
      :class="outlineClass"
      v-model="val"
      :type="inputType"
      :placeholder="placeholder"
      @input="onInput"></b-form-input>
    <span class="input-group-btn">
      <fil-button class="no-border" :text="showText" colour="red" @click.native="toggle"></fil-button>
    </span>
    </div>
</template>
<script>
  import FilButton from '@/components/FilButton';

  export default {
    name: 'fil-password-input',
    components: {
      FilButton
    },
    props: {
      outline: {
        type: String,
        default: 'red'
      },
      placeholder: {
        type: String,
        default: 'Password'
      }
    },
    data() {
      return {
        val: '',
        show: false,
        showText: 'Show',
        inputType: 'password'
      };
    },
    computed: {
      outlineClass() {
        if (this.outline === 'red') {
          return { 'red-outline': true, 'yellow-outline': false };
        }
        return { 'red-outline': false, 'yellow-outline': true };
      }
    },
    methods: {
      clear() {
        this.val = '';
      },
      toggle() {
        if (this.show) {
          this.showText = 'Show';
          this.inputType = 'password';
        } else {
          this.showText = 'Hide';
          this.inputType = 'text';
        }
        this.show = !this.show;
      },
      onInput(value) {
        this.$emit('input', value);
      }
    }
  };
</script>
<style>
  .password-input .no-border {
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
  }

  .password-input .form-control.red-outline:focus,
  .password-input .custom-select.red-outline:focus {
    color: #666;
    border-color: #E46055;
  }

  .password-input .form-control.yellow-outline:focus,
  .password-input .custom-select.yellow-outline:focus {
    color: #666;
    border-color: #FFF074;
  }
</style>
