<template>
  <span>
    <span class="price__currency">{{ currency | asCurrency }}</span>
    <span class="price__whole">{{ amount | asMoney }}</span>
    <span class="price__fraction">{{ fraction }}</span>
  </span>
</template>
<script>
  export default {
    name: 'fil-price',
    props: ['currency', 'amount'],
    computed: {
      fraction() {
        const amount = this.amount || 0;
        const frac = (amount * 100) % 100;
        return frac < 10 ? `0${frac}` : frac;
      },
      whole() {
        const amount = this.amount || 0;
        return this.$options.filters.round(amount, 0);
      }
    }
  };
</script>
<style>
  .price__currency, .price__fraction {
    vertical-align: super;
    font-size: .83em;
    position: relative;
  }
  .price__whole {
    margin-right: -3px;
    margin-left: -3px;
  }
</style>
