<template>
  <vue-slider
    ref="slider"
    v-model="value"
    tooltip="always"
    :tooltipStyle="tooltipStyle"
    :processStyle="processStyle"
    width="100%"
    :min="minPrice"
    :max="maxPrice"
    :disabled="disabled"
    :formatter="formatter"></vue-slider>
</template>
<script>
  import VueSlider from 'vue-slider-component';

  export default {
    name: 'fil-price-range',
    components: {
      VueSlider
    },
    props: ['minPrice', 'maxPrice', 'currency', 'disabled'],
    data() {
      return {
        blop: 0,
        value: [this.minPrice, this.maxPrice],
        tooltipStyle: {
          backgroundColor: '#E46055',
          borderColor: '#E46055'
        },
        processStyle: {
          backgroundColor: '#E46055'
        }
      };
    },
    watch: {
      value([minPrice, maxPrice]) {
        this.$emit('price_change', { minPrice, maxPrice });
      },
      minPrice(val) {
        this.value.splice(0, 1, val);
      },
      maxPrice(val) {
        this.value.splice(1, 1, val);
      }
    },
    methods: {
      formatter(amount) {
        return this.$options.filters.moneyString(amount, this.currency);
      }
    }
  };
</script>
