<template>
  <div class="qty-selector">
    <span class="clickable h2" @click.stop.prevent="decrement">-</span>
    &ensp;
    <span class="h2">{{ qty }}</span>
    &ensp;
    <span class="clickable h2" @click.stop.prevent="increment">+</span>
  </div>
</template>
<script>
  export default {
    name: 'fil-qty-selector',
    props: {
      tag: {
        type: [Object, String, Number],
        default: 'quantity'
      },
      initialQty: {
        default: 1,
        type: Number
      },
      minValue: {
        default: 0,
        type: Number
      },
      maxValue: {
        default: 100,
        type: Number
      }
    },
    data() {
      return {
        qty: Number(this.initialQty)
      };
    },
    watch: {
      qty(val) {
        this.emitUpdate();
      },
      initialQty(val) {
        this.qty = val;
      }
    },
    methods: {
      emitUpdate() {
        this.$emit('new_qty', { tag: this.tag, quantity: Number(this.qty) });
      },
      increment() {
        if (this.qty < this.maxValue) this.qty += 1;
      },
      decrement() {
        if (this.qty > this.minValue) this.qty -= 1;
      },
      reset() {
        this.qty = this.initialQty;
      }
    }

  };
</script>
<style>
  .qty-selector {
    display: inline-block;
  }

  .qty-selector .form-control {
    color: #666;
  }
</style>
