<template>
  <b-nav-item :href="checkout" class="shopping-bag">
    <!-- <b-tooltip :content="tooltip" :placement="tooltipPlacement"> -->
    <img
      class="clickable"
      :src="bagIcon" :width="bagDimensions[0]" :height="bagDimensions[1]" alt="Shopping bag">
    <!-- </b-tooltip> -->
  </b-nav-item>
</template>
<script>
  import { APP_CONSTANTS, isSignedIn, isMobile } from '@/constants';

  export default {
    name: 'fil-shopping-bag',
    computed: {
      signedIn() {
        return isSignedIn(this.$store);
      },
      checkout() {
        return this.bagHasItems ?
        this.$router.resolve({ name: APP_CONSTANTS.ROUTES.CHECKOUT }).href : '#';
      },
      bagIcon() {
        if (!this.signedIn) {
          return '/static/icons/cart/cart-yellow.svg';
        }

        const emptyImg = '/static/icons/cart/cart-dark.svg';
        const fullImg = '/static/icons/cart/cart-red.svg';
        return this.numItems > 0 ? fullImg : emptyImg;
      },
      yellowVariant() {
        return !!this.$route.query.yellow;
      },
      bag() {
        const w = { ...this.$store.getters.getWishList };
        if (!w.items) {
          w.items = [];
        }
        return w;
      },
      bagHasItems() {
        return this.bag.items.length > 0;
      },
      numItems() {
        return this.bag.items.length;
      },
      tooltip() {
        return `Your shopping bag contains ${this.numItems} ${this.numItems > 1 ? 'items' : 'item'}`;
      },
      bagDimensions() {
        return this.numItems > 0 ? [60, 60] : [40, 40];
      },
      tooltipPlacement() {
        return isMobile() ? 'top' : 'bottom';
      }
    }
  };
</script>
