<template>
  <a :href="homeHref">
    <img src="/static/logos/FoodILike-red.svg" width="300" height="150" alt="FoodILike logo">
  </a>
</template>
<script>
import { APP_CONSTANTS } from '@/constants';

export default {
  name: 'fil-signin-logo',
  computed: {
    homeHref() {
      return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.HOME }).href;
    }
  }
};
</script>
