<template>
  <div class="row">
    <div class="col-sm-12 mb-2">
      <h4 class="text-left">{{ headerText }}</h4>
    </div>
    <b-form-fieldset horizontal class="col-md-5 col-sm-12">
      <b-form-input class="red-outline" v-model="filterText" :placeholder="placeholderText"></b-form-input>
    </b-form-fieldset>
    <div class="col-sm-12 col-md-5">
      <b-form-fieldset horizontal :label="perPageLabel" :label-size="6">
        <b-form-select class="red-outline col-sm-6" :options="options" v-model="perPage">
        </b-form-select>
      </b-form-fieldset>
    </div>
    <div class="col-md-2 col-sm-12 form-group row">
      <div class="col-6">
        <button-link colour="red" :text="buttonText" :href="buttonHref" v-if="buttonHref"></button-link>
        <button-link colour="red" :text="buttonText" @click.native="sendClick" v-else></button-link>
      </div>
    </div>
  </div>
</template>
<script>
  import ButtonLink from '@/components/ButtonLink';

  export default {
    name: 'fil-admin-table-top',
    components: {
      ButtonLink
    },
    props: ['perPageLabel', 'placeholderText', 'buttonText', 'headerText', 'buttonHref'],
    data() {
      return {
        perPage: 50,
        filterText: '',
        options: [
          { text: 50, value: 50 },
          { text: 100, value: 100 },
          { text: 200, value: 200 }
        ]
      };
    },
    watch: {
      perPage(value) {
        this.$emit('per_page_selection', { value });
      },
      filterText(value) {
        // wait half a second before sending fresh values
        setTimeout(() => this.$emit('filter_text_input', { value }), 500);
      }
    },
    methods: {
      sendClick() {
        this.$emit('button_click');
      }
    }
  };
</script>
