<template>
  <div :class="topBarClassList">
    <div class="col">
      <b-navbar toggleable type="inverse" >

        <b-nav-toggle target="nav_collapse"></b-nav-toggle>

        <b-link class="navbar-brand" :href="home">
          <img :src="logo" width="200" height="50" alt="FoodILike logo" class="clickable">
        </b-link>

        <b-collapse is-nav id="nav_collapse">
          <form class="form-inline" @submit.stop.prevent="handleSubmit" v-if="showSearchForm">
            <div class="input-group">
              <!-- <input class="form-control red-outline" v-model.trim="city" type="text" placeholder="City"> -->
              <input class="form-control red-outline" v-model.trim="text" type="text" placeholder="Rice, Chinese...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">
                  <img src="/static/icons/search/search-red.svg" alt="Search icon" width="20px" height="20px">
                </button>
              </span>
            </div>
          </form>
          <b-nav is-nav-bar class="ml-auto">
            <bag></bag>
            <b-nav-item
              :class="{'yellow-text': !signedIn, active: isActiveRoute(menu)}"
              :active="isActiveRoute(ref.href)" :key="ref.name" :href="ref.href" v-for="ref in routeRefs">
              {{ ref.name }}
            </b-nav-item>
            <b-nav-item
              :href="menu"
              :active="isActiveRoute(menu)"
              :class="{'yellow-text': !signedIn, 'mr-2': true, active: isActiveRoute(menu)}">
              {{ 'Menu' }}
            </b-nav-item>
            <b-nav-item
              v-if="isAdmin"
              :href="admin"
              :class="{'yellow-text': !signedIn, 'mr-2': true}">
              {{ 'Admin area' }}
            </b-nav-item>
          </b-nav>

          <b-nav is-nav-bar class="ml-2" v-if="signedIn">
            <b-nav-item-dropdown right-alignment>
              <!-- Using text slot -->
              <template slot="text">
                <span>My account</span>
              </template>
              <b-dropdown-item :href="profile" class="clickable">Profile</b-dropdown-item>
              <b-dropdown-item @click.native="signout" class="clickable">Sign out</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-nav>
        </b-collapse>
      </b-navbar>
    </div>
  </div>
</template>
<script>
  import { APP_CONSTANTS, getUserMenu, handleSignout } from '@/constants';
  import { socketMixin } from '@/lib/socketMixin';
  import Bag from '@/components/ShoppingBag';
  import FoodSearch from './FoodSearch';
  import IconButton from './FilIconButton';

  export default {
    name: 'fil-top-bar',
    mixins: [socketMixin],
    components: {
      Bag,
      FoodSearch,
      IconButton
    },
    data() {
      return {
        city: 'Abuja',
        text: ''
      };
    },
    computed: {
      signedIn() {
        return !!this.user.token;
      },
      user() {
        return this.$store.getters.getUser;
      },
      isAdmin() {
        return this.signedIn && this.user.role === 'admin';
      },
      home() {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.HOME }).href;
      },
      admin() {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.ADMIN_HOME }).href;
      },
      menu() {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.MENU }).href;
      },
      profile() {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.USER_ACCOUNT }).href;
      },
      routeRefs() {
        return getUserMenu(this.signedIn ? {} : null, this.$router);
      },
      logo() {
        if (!this.signedIn) {
          return '/static/logos/FoodILike-yellow.svg';
        }
        return `/static/logos/FoodILike-${this.signedIn ? 'dark' : 'light'}.svg`;
      },
      topBarClassList() {
        return `top-bar row ${this.signedIn ? 'white-background' : 'red-background'}`;
      },
      showSearchForm() {
        const allowedRoutes = [
          APP_CONSTANTS.ROUTES.USER_ACCOUNT,
          APP_CONSTANTS.ROUTES.CHECKOUT,
          APP_CONSTANTS.ROUTES.ITEM_SHOW,
          APP_CONSTANTS.ROUTES.REST_SHOW
        ];
        return allowedRoutes.indexOf(this.$route.name) !== -1;
      }
    },
    methods: {
      signout() {
        handleSignout(this.$store);
        if (this.$route.name === APP_CONSTANTS.ROUTES.USER_ACCOUNT) {
          this.$router.push({ name: APP_CONSTANTS.ROUTES.MENU });
        }
      },
      handleSubmit() {
        if (!this.text.length) return;
        this.$router.push({ name: APP_CONSTANTS.ROUTES.MENU, query: { city: this.city, search: this.text } });
      },
      getNotifLink(type) {
        return this.$router.resolve({ name: APP_CONSTANTS.ROUTES.ADMIN_NOTIFS, query: { type } }).href;
      },
      isActiveRoute(route) {
        return route === this.$route.path;
      }
    }
  };
</script>
<style>
  .top-bar.red-background {
    background-color: #E46055;
    color: #FFF !important;
  }
  .top-bar.red-background a {
    color: #FFF !important;
  }

  .top-bar.white-background {
    background-color: #FFF;
    color: #666 !important;
  }

  .top-bar.white-background a,
  .top-bar.white-background button.dropdown-item {
    color: #666 !important;
  }

  .top-bar .yellow-text, .top-bar .yellow-text a {
    color: #FFF074 !important;
  }

  .top-bar.white-background .navbar-toggler:focus {
    outline: 5px auto #E46055;
  }
  .top-bar.red-background .navbar-toggler:focus {
    outline: 5px auto #FFF074;
  }

  .top-bar.white-background li.active {
    background-color: #FFF !important;
    border-color: #E46055 !important;
  }

  .top-bar.white-background li.active a {
    color: #E46055 !important;
  }

  .top-bar.red-background li.active {
    border-color: #FFF074 !important;
  }
  .top-bar.red-background li.active a {
    color: #FFF074 !important;
  }

  .top-bar a,
  .top-bar.white-background button.dropdown-item {
    text-transform: uppercase;
    font-weight: bold;
  }

  .top-bar .dropdown-menu a:active,
  .top-bar.white-background button.dropdown-item:active {
    background-color: #E46055;
    color: #FFF !important;
  }

  .top-bar.red-background .navbar-inverse .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .top-bar.white-background .navbar-inverse .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(102,102,102, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
</style>
