<template>
  <div class="card mb-3 sales-stats">
    <div class="card-block">
      <h4 class="card-title text-left">Total sales</h4>
      <p class="card-text text-left">{{ totalSales | moneyString }}</p>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'fil-total-sales-widget',
    computed: {
      totalSales() {
        return this.$store.getters.getTotalSales;
      }
    }
  };
</script>
<style scoped>
  .sales-stats * {
    background-color: #E46055;
    color: #fff;
  }
</style>
