<template>
  <div class="card mb-3 revenue-stats">
    <div class="card-block">
      <h4 class="card-title text-left">Total revenue</h4>
      <p class="card-text text-left">
        <span>Commissions: {{ totalCommissions | asMoney }}</span>
        &emsp;
        <span>Delivery fees: {{ totalDeliveryFees | asMoney }}</span>
      </p>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'fil-revenue-widget',
    computed: {
      totalCommissions() {
        return this.$store.getters.getTotalCommissions;
      },
      totalDeliveryFees() {
        return this.$store.getters.getTotalDeliveryFees;
      }
    }
  };
</script>
<style scoped>
  .revenue-stats * {
    background-color: #E46055;
    color: #fff;
  }
</style>
