<template>
  <div class="card mb-3 user-stats">
    <div class="card-block">
      <h4 class="card-title text-left">Users</h4>
      <p class="card-text text-left"><small>User statistics for today</small></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Total users</h5>
        </div>
        <p class="mb-1">{{ totalUsers | formatNumber }}</p>
      </li>
      <li class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Active users</h5>
        </div>
        <p class="mb-1">{{ activeUsers | formatNumber }}</p>
      </li>
      <li class="list-group-item align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Inactive users</h5>
        </div>
        <p class="mb-1">{{ inactiveUsers | formatNumber }}</p>
      </li>
    </ul>
  </div>
</template>
<script>
  export default {
    name: 'fil-user-stats-widget',
    computed: {
      totalUsers() {
        return this.$store.getters.getUsers.length;
      },
      activeUsers() {
        const today = new Date();
        today.setHours(0);
        today.setMinutes(0);
        today.setSeconds(0);

        return this.$store.getters.getUsers
          .filter(u => new Date(u.last_seen_at).getTime() > today.getTime()).length;
      },
      inactiveUsers() {
        return this.$store.getters.getUsers
          .filter(u => !u.active).length;
      }
    }
  };
</script>
<style scoped>
  .user-stats * {
    background-color: #E46055;
    color: #fff;
  }
</style>
